<main>

    <body>
        <div class="wrapper">
            <!-- Sidebar -->
            <div class="sidebar" data-background-color="dark">
                <div class="sidebar-logo">
                    <!-- Logo Header -->
                    <div class="logo-header" data-background-color="dark">
                        <a href="/home" class="logo">
                            <img src="/assets/Eco.png" alt="navbar brand" class="navbar-brand" height="30" />
                        </a>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="gg-menu-right"></i>
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="gg-menu-left"></i>
                            </button>
                        </div>
                        <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt"></i>
                        </button>
                    </div>
                    <!-- End Logo Header -->
                </div>
                <div class="sidebar-wrapper scrollbar scrollbar-inner">
                    <div class="sidebar-content">
                        <ul class="nav nav-secondary">
                            <li class="nav-item">
                                <a href="/home" class="collapsed" aria-expanded="false">
                                    <i class="fas fa-home"></i>
                                    <p>Home</p>
                                </a>
                            </li>
                            <li class="nav-section">
                                <span class="sidebar-mini-icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                                <h4 class="text-section">Funções Do Sistema</h4>
                            </li>
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#cadastro">
                                    <i class="fas fa-user"></i>
                                    <p>Cadastros</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="cadastro">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/cadastrosBuscar">
                                                <span class="sub-item">Buscar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/pessoa">
                                                <span class="sub-item">Nova Pessoa</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/usuario">
                                                <span class="sub-item">Novo Usuario</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/planta">
                                                <span class="sub-item">Nova Planta</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/motorista">
                                                <span class="sub-item">Novo Motorista</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/caminhao">
                                                <span class="sub-item">Novo Caminhão</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#estoque">
                                    <i class="fas fa-th-list"></i>
                                    <p>Estoque</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="estoque">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/cadastrosBuscar2">
                                                <span class="sub-item">Buscar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/estoque">
                                                <span class="sub-item">Novo Estoque</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/material">
                                                <span class="sub-item">Novo Material</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/movimentacoes">
                                                <span class="sub-item">Movimentações</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/pesagem">
                                                <span class="sub-item">Pesagem da coleta</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item active">
                                <a data-bs-toggle="collapse" href="#coleta">
                                    <i class="fa fa-map-marker-alt"></i>
                                    <p>Gestão de Coleta</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="coleta">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/agendamento">
                                                <span class="sub-item">Agendamento</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/rotas">
                                                <span class="sub-item">Rotas Programadas</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/attStatus">
                                                <span class="sub-item">Atualizar Status da Coleta</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="/relatorios">
                                    <i class="fas fa-table"></i>
                                    <p>Relatórios</p>
                                </a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Sidebar -->
            <!--Start MenuBar-->
            <div class="main-panel">
                <div class="main-header">
                    <div class="main-header-logo">
                        <!-- Logo Header -->
                        <div class="logo-header" data-background-color="dark">
                            <a href="#" class="logo">
                                <img src="public/assets/Eco.png" alt="navbar brand" class="navbar-brand" height="20" />
                            </a>
                            <div class="nav-toggle">
                                <button class="btn btn-toggle toggle-sidebar">
                                    <i class="gg-menu-right"></i>
                                </button>
                                <button class="btn btn-toggle sidenav-toggler">
                                    <i class="gg-menu-left"></i>
                                </button>
                            </div>
                            <button class="topbar-toggler more">
                                <i class="gg-more-vertical-alt"></i>
                            </button>
                        </div>
                        <!-- End Logo Header -->
                    </div>
                    <!-- Navbar Header -->
                    <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                        <div class="container-fluid">
                            <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                                <li class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                        aria-expanded="false" aria-haspopup="true">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-search animated fadeIn">
                                        <form class="navbar-left navbar-form nav-search">
                                            <div class="input-group">
                                                <input type="text" placeholder="Search ..." class="form-control" />
                                            </div>
                                        </form>
                                    </ul>
                                </li>
                                <li class="nav-item topbar-user dropdown hidden-caret">
                                    <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#"
                                        aria-expanded="false">
                                        <span class="profile-username">
                                            <i class="fas fa-user-circle fa-2x"></i>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user animated fadeIn">
                                        <div class="dropdown-user-scroll scrollbar-outer">
                                            <li>
                                                <div class="user-box">
                                                    <div class="u-text">
                                                        <h4 class="fw-bold">{{usuario.nm_usuario}}</h4>
                                                        <p class="text-muted">{{usuario.ds_email}}</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="/logout"><i
                                                        class="fas fa-sign-out-alt pe-2"></i>
                                                    Sair</a>
                                            </li>
                                        </div>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- End Navbar -->
                </div>
                <!--End MenuBar-->
                <!--Start conteudo indiviudual da pagina-->
                <div class="container">
                    <div class="page-inner">
                        {{{mensagem}}}

                        <!-- ===== Formulário de Edição de Agendamento ===== -->
                        <form action="/agendamentoEditar/{{agendamento.cd_agendamento}}" method="POST">
                            <input type="hidden" name="id_agendamento" value="{{agendamento.cd_agendamento}}" />
                            <div
                                class="d-flex flex-column flex-md-row justify-content-md-between align-items-center mb-3">
                                <div class="mb-3 d-flex flex-column">
                                    <span class="fs-2 fw-bold">Editar agendamento de Coleta</span>
                                    <small class="text-muted">Realize o agendamento programado da coleta.</small>
                                </div>
                            </div>
                            <div class="card shadow-lg mb-5">
                                <div class="card-body">
                                    <fieldset {{#if somenteVisualizacao}}disabled{{/if}}>
                                        <div class="row">
                                            <!-- Pessoa Física -->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="fw-bold">Pessoa Física</label>
                                                    <input type="text" class="form-control"
                                                        value="{{agendamento.nm_pessoa_fisica}}" readonly>
                                                    <input type="hidden" name="cd_pessoa_fisica"
                                                        value="{{agendamento.cd_pessoa_fisica}}">
                                                </div>
                                            </div>
                                            <!-- Pessoa Jurídica -->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="fw-bold">Pessoa Jurídica</label>
                                                    <input type="text" class="form-control"
                                                        value="{{agendamento.nm_pessoa_juridica_fantasia}}" readonly>
                                                    <input type="hidden" name="cd_pessoa_juridica"
                                                        value="{{agendamento.cd_pessoa_juridica}}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="fw-bold">CEP</label>
                                                    <input type="text" class="form-control" name="nr_cep" id="nr_cep"
                                                        value="{{agendamento.nr_cep}}" placeholder="Preencha o CEP"
                                                        required maxlength="9">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="fw-bold">Estado (UF)</label>
                                                    <input type="text" class="form-control" name="uf_estado"
                                                        id="uf_estado" value="{{agendamento.uf_estado}}"
                                                        placeholder="Preencha o CEP para buscar Estado (UF)" readonly
                                                        required maxlength="2">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="fw-bold">Cidade</label>
                                                    <input type="text" class="form-control" name="nm_cidade"
                                                        id="nm_cidade" value="{{agendamento.nm_cidade}}"
                                                        placeholder="Preencha o CEP para buscar Cidade" readonly
                                                        required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="fw-bold">Bairro</label>
                                                    <input type="text" class="form-control" name="nm_bairro"
                                                        id="nm_bairro" value="{{agendamento.nm_bairro}}"
                                                        placeholder="Preencha o CEP para buscar Bairro" readonly
                                                        required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="fw-bold">Logradouro</label>
                                                    <input type="text" class="form-control" name="ds_endereco"
                                                        value="{{agendamento.ds_endereco}}" id="ds_endereco"
                                                        placeholder="Preencha o CEP para buscar Rua do Endereço"
                                                        readonly required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="fw-bold">Número do Endereço</label>
                                                    <input type="text" class="form-control" name="nr_endereco"
                                                        id="nr_endereco" value="{{agendamento.nr_resid}}"
                                                        placeholder="Preencha o número do endereço" required
                                                        maxlength="10">
                                                </div>
                                            </div>
                                            <!-- Data Solicitada / Peso Previsto -->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="fw-bold">Data Solicitada</label>
                                                    <input type="text" class="form-control" readonly
                                                        name="dt_solicitada" id="dt_solicitada"
                                                        value="{{agendamento.dt_solicitada}}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="fw-bold">Peso previsto (KG)</label>
                                                    <input type="text" class="form-control" readonly
                                                        name="qt_quantidade_prevista_kg"
                                                        value="{{agendamento.qt_quantidade_prevista_kg}}">
                                                </div>
                                            </div>
                                            <!-- Status -->
                                            <div class="col-md-6">
                                                <div class="form-group form-check mt-4">
                                                    <input type="checkbox" class="form-check-input" id="status_checkbox"
                                                        name="status" value="ativo" {{#if (eq agendamento.status "ativo"
                                                        )}}checked{{/if}}>
                                                    <label class="form-check-label fw-bold" for="status_checkbox">
                                                        <span id="status_label_text">
                                                            {{#if (eq agendamento.status "ativo")}}
                                                            Agendamento Ativo
                                                            {{else}}
                                                            Agendamento Cancelado
                                                            {{/if}}
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                    </fieldset>
                                    <div class="d-flex justify-content-end">
                                        <a href="/agendamento"
                                            class="btn btn-secondary me-3 text-white fw-bold shadow-lg">Voltar</a>
                                        {{#unless somenteVisualizacao}}
                                        <button type="submit"
                                            class="btn btn-success text-white fw-bold shadow-lg">Salvar</button>
                                        {{/unless}}
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- ===== Fim do form de Agendamento ===== -->


                        {{#if somenteVisualizacao}}
                        <fieldset disabled>
                            {{/if}}
                            <div class="row">
                                <!-- ===== Formulário de Inserção/Edição de Itens ===== -->
                                <div class="col-md-6">
                                    <div class="card shadow-lg mb-5">
                                        <div class="card-header">
                                            <div class="card-title">{{#if editandoItem}}Editar Item{{else}}Adicionar
                                                Item{{/if}}</div>
                                        </div>
                                        <div class="card-body">
                                            <form
                                                action="/agendamentoEditar/{{agendamento.cd_agendamento}}/adicionarItem"
                                                method="POST">
                                                <input type="hidden" name="id_agendamento"
                                                    value="{{agendamento.cd_agendamento}}" />
                                                <input type="hidden" name="itemId"
                                                    value="{{#if editandoItem}}{{item.cd_mat_agenda}}{{/if}}" />
                                                <div class="row mb-3">
                                                    <div class="col-md-6">
                                                        <label class="fw-bold">Linha do material</label>
                                                        <select name="linha_material" id="linha_material"
                                                            class="form-control">
                                                            <option value="">Selecione a linha</option>
                                                            {{#each linhas}}
                                                            <option value="{{cd_linha}}" {{#if (eq ../item.ie_linha
                                                                cd_linha)}}selected{{/if}}>
                                                                {{nm_linha}}
                                                            </option>
                                                            {{/each}}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label class="fw-bold">Selecione um material</label>
                                                        <select name="item_nome" id="item_nome" class="form-control"
                                                            required data-selected="{{item.ds_mat_agenda}}">
                                                            <option value="">Selecione um material</option>
                                                            {{#each materiais}}
                                                            <option value="{{ds_material}}"
                                                                data-cd-material="{{cd_material}}"
                                                                data-linha="{{ie_linha}}">
                                                                {{ds_material}}
                                                            </option>
                                                            {{/each}}
                                                        </select>
                                                        <input type="hidden" name="ie_material" id="ie_material" />

                                                    </div>
                                                    <div class="col-md-3">
                                                        <label class="fw-bold">Quantidade</label>
                                                        <input type="number" class="form-control" id="qtde_material"
                                                            name="item_qtde" min="1" step="1" pattern="\d*"
                                                            value="{{#if editandoItem}}{{item.qtde_material}}{{/if}}"
                                                            title="Digite apenas números inteiros positivos.">
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-end gap-2 mt-3">
                                                    <a href="/agendamentoEditar?id_agendamento={{agendamento.cd_agendamento}}"
                                                        class="btn btn-secondary text-white fw-bold shadow-lg">
                                                        Cancelar
                                                    </a>

                                                    <button
                                                        formaction="/agendamentoEditar/{{agendamento.cd_agendamento}}/itens/{{item.cd_mat_agenda}}/editar"
                                                        class="btn btn-warning text-white fw-bold shadow-lg">
                                                        Atualizar Item
                                                    </button>

                                                    <button type="submit"
                                                        class="btn btn-success text-white fw-bold shadow-lg">Adicionar
                                                        Item</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!-- ===== Lista de Itens ===== -->
                                <div class="col-md-6">
                                    <div class="card shadow-lg mb-5">
                                        <div class="card-header">
                                            <div class="card-title">Lista de Itens</div>
                                        </div>
                                        <div class="card-body p-0" style="max-height: 270px; overflow-y: auto;">
                                            <table class="table table-head-bg-success">
                                                <thead>
                                                    <tr>
                                                        <th>Material</th>
                                                        <th>Linha</th>
                                                        <th>Qtde</th>
                                                        <th>Peso</th>
                                                        <th>Ações</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each itens}}
                                                    <tr>
                                                        <td>{{ds_mat_agenda}}</td>
                                                        <td>{{nm_linha}}</td>
                                                        <td>{{qtde_material}}</td>
                                                        <td>{{qt_peso_material_total_kg}}</td>
                                                        <td>
                                                            <a href="#" class="btn btn-danger btn-sm me-1 text-white"
                                                                onclick="confirmarExclusao('{{../agendamento.cd_agendamento}}', '{{cd_mat_agenda}}')">
                                                                <i class="fa fa-trash text-white"></i> Excluir
                                                            </a>
                                                            <a href="/agendamentoEditar/{{../agendamento.cd_agendamento}}/itens/{{cd_mat_agenda}}/editar"
                                                                class="btn btn-warning btn-sm text-white">
                                                                <i class="fa fa-edit text-white"></i> Editar
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{#if somenteVisualizacao}}
                        </fieldset>
                        {{/if}}
                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                const cepInput = document.getElementById('nr_cep');
                                const form = cepInput.closest('form');

                                // Máscara ao digitar
                                cepInput.addEventListener('input', function (e) {
                                    let cep = e.target.value.replace(/\D/g, '');
                                    if (cep.length > 5) {
                                        cep = cep.slice(0, 5) + '-' + cep.slice(5, 8);
                                    }
                                    e.target.value = cep;
                                });

                                // Remove a máscara antes de enviar
                                form.addEventListener('submit', function () {
                                    cepInput.value = cepInput.value.replace(/\D/g, '');
                                });
                            });
                        </script>

                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                const cepInput = document.getElementById('nr_cep');
                                if (cepInput && cepInput.value.length === 8 && cepInput.value.indexOf('-') === -1) {
                                    cepInput.value = cepInput.value.slice(0, 5) + '-' + cepInput.value.slice(5);
                                }
                            });
                        </script>

                        <script>
                            document.addEventListener("DOMContentLoaded", function () {
                                const botaoAtualizar = document.getElementById("btnAtualizarItem");
                                const urlAtual = window.location.href;

                                if (!urlAtual.includes("formation")) {
                                    botaoAtualizar.style.display = "none";
                                }
                            });
                        </script>
                        <script>
                            function confirmarExclusao(idAgendamento, itemId) {
                                swal({
                                    title: "Tem certeza que deseja excluir?",
                                    text: "Você não poderá desfazer esta ação!",
                                    icon: "warning",
                                    buttons: {
                                        cancel: {
                                            text: "Cancelar",
                                            visible: true,
                                            className: "btn btn-secondary",
                                        },
                                        confirm: {
                                            text: "Excluir",
                                            className: "btn btn-danger",
                                        },
                                    },
                                    dangerMode: true,
                                }).then((willDelete) => {
                                    if (willDelete) {
                                        // Redireciona para a rota de exclusão no back-end
                                        window.location.href = `/agendamentoEditar/${idAgendamento}/itens/${itemId}/excluir`;
                                    }
                                });
                            }
                        </script>
                    </div>
                </div>
                <script>
                    window.addEventListener('DOMContentLoaded', function () {
                        const select = document.getElementById('item_nome');
                        const selectedValue = select.getAttribute('data-selected');

                        if (selectedValue) {
                            for (let option of select.options) {
                                if (option.value === selectedValue) {
                                    option.selected = true;
                                    break;
                                }
                            }
                        }
                    });
                </script>


                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const materialSelect = document.getElementById('item_nome');
                        const materialHidden = document.getElementById('ie_material');
                        materialSelect.addEventListener('change', function () {
                            const selected = materialSelect.options[materialSelect.selectedIndex];
                            materialHidden.value = selected.getAttribute('data-cd-material') || '';
                        });
                    });
                </script>


                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const linhaSelect = document.getElementById('linha_material');
                        const materialSelect = document.getElementById('item_nome');

                        // Armazena todas as opções de material (menos o primeiro "placeholder")
                        const allOptions = Array.from(materialSelect.options).filter(opt => opt.value !== "");

                        linhaSelect.addEventListener('change', function () {
                            const selectedLinha = this.value;

                            // Limpa os materiais visíveis
                            materialSelect.innerHTML = '<option value="">Selecione um material</option>';

                            if (selectedLinha === "") {
                                // Se nenhuma linha for selecionada, exibe todos os materiais
                                allOptions.forEach(option => {
                                    materialSelect.appendChild(option);
                                });
                            } else {
                                // Adiciona somente os materiais que pertencem à linha selecionada
                                allOptions.forEach(option => {
                                    if (option.dataset.linha === selectedLinha) {
                                        materialSelect.appendChild(option);
                                    }
                                });
                            }

                            // Reseta a seleção do material
                            materialSelect.value = "";
                        });

                        // Atualiza o campo de linha ao selecionar um material
                        materialSelect.addEventListener('change', function () {
                            const selectedOption = materialSelect.options[materialSelect.selectedIndex];
                            const linha = selectedOption.getAttribute('data-linha');

                            if (linha) {
                                linhaSelect.value = linha; // Atualiza a linha correspondente
                            } else {
                                linhaSelect.value = ""; // Reseta a linha se nenhum material for selecionado
                            }
                        });

                        // Restaura a seleção ao carregar a página (se estiver editando um item)
                        const selectedMaterial = materialSelect.getAttribute('data-selected');
                        if (selectedMaterial) {
                            Array.from(materialSelect.options).forEach(option => {
                                if (option.value === selectedMaterial) {
                                    option.selected = true;
                                    linhaSelect.value = option.getAttribute('data-linha'); // Atualiza a linha correspondente
                                }
                            });
                        }
                    });
                </script>
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const form = document.querySelector('form[action^="/agendamentoEditar"][method="POST"]');
                        const pesoInput = document.getElementById('qt_quantidade_prevista_kg');

                        if (form && pesoInput) {
                            form.addEventListener('submit', function () {
                                // Troca vírgula por ponto antes de enviar
                                pesoInput.value = pesoInput.value.replace(',', '.');
                            });
                        }
                    });
                </script>

                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const pesoInput = document.getElementById('qt_quantidade_prevista_kg');
                        pesoInput.addEventListener('input', function () {
                            // Remove tudo que não for número, vírgula ou ponto
                            this.value = this.value.replace(/[^0-9.,]/g, '');
                            // Remove sinais negativos
                            this.value = this.value.replace(/-/g, '');
                        });
                    });
                </script>
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const pesoInput = document.getElementById('qt_quantidade_prevista_kg');
                        pesoInput.addEventListener('input', function () {
                            // Remove tudo que não for número, vírgula ou ponto
                            this.value = this.value.replace(/[^0-9.,]/g, '');
                            // Remove sinais negativos
                            this.value = this.value.replace(/-/g, '');
                            // Limita a 6 dígitos antes do separador decimal
                            const partes = this.value.split(/[.,]/);
                            if (partes[0].length > 6) {
                                partes[0] = partes[0].slice(0, 6);
                                this.value = partes.join(this.value.includes(',') ? ',' : (this.value.includes('.') ? '.' : ''));
                            }
                        });
                    });
                </script>

                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const cepInput = document.getElementById('nr_cep');
                        const ufInput = document.getElementById('uf_estado');
                        const cidadeInput = document.getElementById('nm_cidade');
                        const bairroInput = document.getElementById('nm_bairro');
                        const enderecoInput = document.getElementById('ds_endereco');
                        const form = cepInput.closest('form');

                        let cepValido = false;

                        // NOVO: Se já está preenchido, considera válido
                        if (
                            cepInput.value.replace(/\D/g, '').length === 8 &&
                            ufInput.value.trim() &&
                            cidadeInput.value.trim() &&
                            bairroInput.value.trim() &&
                            enderecoInput.value.trim()
                        ) {
                            cepValido = true;
                        }

                        function limparEndereco() {
                            ufInput.value = '';
                            cidadeInput.value = '';
                            bairroInput.value = '';
                            enderecoInput.value = '';
                            cepValido = false;
                        }

                        cepInput.addEventListener('blur', function () {
                            const cep = cepInput.value.replace(/\D/g, '');
                            if (cep.length === 8) {
                                fetch(`https://viacep.com.br/ws/${cep}/json/`)
                                    .then(response => response.json())
                                    .then(data => {
                                        if (data.erro) {
                                            swal("CEP não encontrado!", "Por favor, digite um CEP válido.", "error");
                                            limparEndereco();
                                        } else {
                                            ufInput.value = data.uf || '';
                                            cidadeInput.value = data.localidade || '';
                                            bairroInput.value = data.bairro || '';
                                            enderecoInput.value = data.logradouro || '';
                                            cepValido = true;
                                        }
                                    })
                                    .catch(() => {
                                        swal("Erro ao buscar CEP!", "Tente novamente mais tarde.", "error");
                                        limparEndereco();
                                    });
                            } else {
                                limparEndereco();
                            }
                        });

                        form.addEventListener('submit', function (e) {
                            cepInput.value = cepInput.value.replace(/\D/g, '');

                            if (
                                !cepValido ||
                                !ufInput.value.trim() ||
                                !cidadeInput.value.trim() ||
                                !bairroInput.value.trim() ||
                                !enderecoInput.value.trim()
                            ) {
                                swal("Endereço inválido!", "Preencha um CEP válido para buscar e preencher o endereço corretamente.", "warning");
                                cepInput.focus();
                                e.preventDefault();
                                return false;
                            }
                        });
                    });
                </script>

                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const dataInput = document.getElementById('dt_solicitada');
                        if (dataInput && dataInput.value) {
                            let valor = dataInput.value;

                            // Se vier no formato Date string (ex: Sun May 04 2025 00:00:00 GMT-0300 ...)
                            if (isNaN(valor) && valor.match(/^[A-Za-z]{3} /)) {
                                const data = new Date(valor);
                                if (!isNaN(data.getTime())) {
                                    const dia = String(data.getDate()).padStart(2, '0');
                                    const mes = String(data.getMonth() + 1).padStart(2, '0');
                                    const ano = data.getFullYear();
                                    dataInput.value = `${dia}/${mes}/${ano}`;
                                }
                            }
                            // Se vier yyyy-mm-dd ou yyyy-mm-ddTHH:mm:ss
                            else if (/^\d{4}-\d{2}-\d{2}/.test(valor)) {
                                const partes = valor.split('T')[0].split('-');
                                if (partes.length === 3) {
                                    dataInput.value = `${partes[2]}/${partes[1]}/${partes[0]}`;
                                }
                            }
                        }
                    });
                </script>

                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        var select = document.getElementById('item_nome');
                        var selectedValue = select.getAttribute('data-selected');
                        if (selectedValue) {
                            for (var i = 0; i < select.options.length; i++) {
                                if (select.options[i].value === selectedValue) {
                                    select.selectedIndex = i;
                                    break

                                    ;
                                }
                            }
                        }
                    });
                </script>

                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const form = document.querySelector('form[action^="/agendamentoEditar"][method="POST"]');
                        const cepInput = document.getElementById('nr_cep');

                        if (form && cepInput) {
                            form.addEventListener('submit', function (e) {
                                const cepNumerico = cepInput.value.replace(/\D/g, '');
                                if (cepNumerico.length < 8) {
                                    alert('O CEP deve conter 8 dígitos numéricos.');
                                    cepInput.focus();
                                    e.preventDefault();
                                    return false;
                                }
                            });
                        }
                    });
                </script>

                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const form = document.querySelector('form[action^="/agendamentoEditar"][method="POST"]');
                        const numeroInput = document.getElementById('nr_endereco');

                        if (form && numeroInput) {
                            // Impede digitação de caracteres não numéricos
                            numeroInput.addEventListener('input', function () {
                                this.value = this.value.replace(/[^0-9]/g, '');
                            });

                            // Validação antes de enviar o formulário
                            form.addEventListener('submit', function (e) {
                                if (!numeroInput.value || isNaN(numeroInput.value) || parseInt(numeroInput.value, 10) <= 0) {
                                    alert('O número do endereço deve ser um número positivo.');
                                    numeroInput.focus();
                                    e.preventDefault();
                                    return false;
                                }
                            });
                        }
                    });
                </script>
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const form = document.querySelector('form[action*="adicionarItem"]');
                        const qtdeInput = document.getElementById('qtde_material');

                        if (form && qtdeInput) {
                            // Impede digitação de caracteres não numéricos
                            qtdeInput.addEventListener('input', function () {
                                this.value = this.value.replace(/[^0-9]/g, '');
                            });

                            // Validação antes de enviar o formulário
                            form.addEventListener('submit', function (e) {
                                if (!qtdeInput.value || isNaN(qtdeInput.value) || parseInt(qtdeInput.value, 10) <= 0) {
                                    alert('A quantidade deve ser um número positivo.');
                                    qtdeInput.focus();
                                    e.preventDefault();
                                    return false;
                                }
                            });
                        }
                    });
                </script>

                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const form = document.querySelector('form[action^="/agendamentoEditar"][method="POST"]');
                        const statusCheckbox = document.getElementById('status_checkbox');

                        if (form && statusCheckbox) {
                            form.addEventListener('submit', function () {
                                // Se o checkbox NÃO estiver marcado, adiciona um campo oculto com status cancelado
                                if (!statusCheckbox.checked) {
                                    let hidden = document.createElement('input');
                                    hidden.type = 'hidden';
                                    hidden.name = 'status';
                                    hidden.value = 'cancelado';
                                    form.appendChild(hidden);
                                }
                            });
                        }
                    });
                </script>

                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const statusCheckbox = document.getElementById('status_checkbox');
                        const statusLabel = document.getElementById('status_label_text');
                        if (statusCheckbox && statusLabel) {
                            function atualizarTexto() {
                                statusLabel.textContent = statusCheckbox.checked ? 'Agendamento Ativo' : 'Agendamento Cancelado';
                            }
                            statusCheckbox.addEventListener('change', atualizarTexto);
                            atualizarTexto(); // Garante o texto correto ao carregar
                        }
                    });
                </script>


                <!--End conteudo indiviudual da pagina-->
                <!--start modal-- >
        <div class="modal fade" id="excluir" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered p-5">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="d-flex justify-content-center text-center flex-column">
                            <i class="fa fa-exclamation-triangle text-danger fs-2"></i>
                            <span class="fw-bold fs-4">Tem certeza que deseja excluir o cadastro?</span>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-primary">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end modal-- >
    </body >