<main>

    <body>
        <div class="wrapper">
            <!-- Sidebar -->
            <div class="sidebar" data-background-color="dark">
                <div class="sidebar-logo">
                    <div class="logo-header" data-background-color="dark">
                        <a href="/home" class="logo">
                            <img src="/assets/Eco.png" alt="navbar brand" class="navbar-brand" height="30" />
                        </a>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="gg-menu-right"></i>
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="gg-menu-left"></i>
                            </button>
                        </div>
                        <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt"></i>
                        </button>
                    </div>
                </div>
                <div class="sidebar-wrapper scrollbar scrollbar-inner">
                    <div class="sidebar-content">
                        <ul class="nav nav-secondary">
                            <li class="nav-item">
                                <a href="/home" class="collapsed" aria-expanded="false">
                                    <i class="fas fa-home"></i>
                                    <p>Home</p>
                                </a>
                            </li>
                            <li class="nav-section">
                                <span class="sidebar-mini-icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                                <h4 class="text-section">Funções Do Sistema</h4>
                            </li>
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#cadastro">
                                    <i class="fas fa-user"></i>
                                    <p>Cadastros</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="cadastro">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/cadastrosBuscar">
                                                <span class="sub-item">Buscar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/pessoa">
                                                <span class="sub-item">Nova Pessoa</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/usuario">
                                                <span class="sub-item">Novo Usuario</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/planta">
                                                <span class="sub-item">Nova Planta</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/motorista">
                                                <span class="sub-item">Novo Motorista</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/caminhao">
                                                <span class="sub-item">Novo Caminhão</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#estoque">
                                    <i class="fas fa-th-list"></i>
                                    <p>Estoque</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="estoque">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/cadastrosBuscar2">
                                                <span class="sub-item">Buscar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/estoque">
                                                <span class="sub-item">Novo Estoque</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/material">
                                                <span class="sub-item">Novo Material</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/movimentacoes">
                                                <span class="sub-item">Movimentações</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/pesagem">
                                                <span class="sub-item">Pesagem da coleta</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item active">
                                <a data-bs-toggle="collapse" href="#coleta">
                                    <i class="fa fa-map-marker-alt"></i>
                                    <p>Gestão de Coleta</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="coleta">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/agendamento">
                                                <span class="sub-item">Agendamento</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/rotas">
                                                <span class="sub-item">Rotas Programadas</span>
                                            </a>
                                        </li>
                                       
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="/relatorios">
                                    <i class="fas fa-table"></i>
                                    <p>Relatórios</p>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Sidebar -->

            <!-- Main Panel -->
            <div class="main-panel">
                <div class="main-header">
                    <div class="main-header-logo">
                        <div class="logo-header" data-background-color="dark">
                            <a href="#" class="logo">
                                <img src="/public/assets/Eco.png" alt="navbar brand" class="navbar-brand" height="20" />
                            </a>
                            <div class="nav-toggle">
                                <button class="btn btn-toggle toggle-sidebar">
                                    <i class="gg-menu-right"></i>
                                </button>
                                <button class="btn btn-toggle sidenav-toggler">
                                    <i class="gg-menu-left"></i>
                                </button>
                            </div>
                            <button class="topbar-toggler more">
                                <i class="gg-more-vertical-alt"></i>
                            </button>
                        </div>
                    </div>
                    <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                        <div class="container-fluid">
                            <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                                <li class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                        aria-expanded="false" aria-haspopup="true">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-search animated fadeIn">
                                        <form class="navbar-left navbar-form nav-search">
                                            <div class="input-group">
                                                <input type="text" placeholder="Search ..." class="form-control" />
                                            </div>
                                        </form>
                                    </ul>
                                </li>
                                <li class="nav-item topbar-user dropdown hidden-caret">
                                    <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#"
                                        aria-expanded="false">
                                        <span class="profile-username">
                                            <i class="fas fa-user-circle fa-2x"></i>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user animated fadeIn">
                                        <div class="dropdown-user-scroll scrollbar-outer">
                                            <li>
                                                <div class="user-box">
                                                    <div class="u-text">
                                                        <h4 class="fw-bold">{{usuario.nm_usuario}}</h4>
                                                        <p class="text-muted">{{usuario.ds_email}}</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="/logout"><i
                                                        class="fas fa-sign-out-alt pe-2"></i>
                                                    Sair</a>
                                            </li>
                                        </div>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>

                <!-- Conteúdo da Página -->
                <div class="container">
                    <form action="/agendamento" method="POST">
                        <div class="page-inner">
                            <!-- Título e Botões -->
                            <div
                                class="d-flex flex-column flex-md-row justify-content-md-between align-items-center mb-3">
                                <div class="mb-3 d-flex flex-column">
                                    <span class="fs-2 fw-bold">Agendamento de Coleta</span>
                                    <small class="text-muted">Realize o agendamento programado da coleta.</small>
                                </div>
                                <div>
                                    <a href="/agendamentoAdd" class="btn btn-success shadow-lg">Adicionar
                                        Agendamento</a>
                                </div>
                            </div>

                            <!-- Filtro de Busca -->
                            <div class="card shadow-lg mb-5">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="fw-bold">Nome</label>
                                                <input type="text" class="form-control" placeholder="Informe o nome"
                                                    name="nome" maxlength="60">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="fw-bold">Endereço</label>
                                                <input type="text" class="form-control" placeholder="Informe o endereço"
                                                    name="endereco" maxlength="60">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="fw-bold">Cidade</label><br>
                                                <select class="form-select form-control" name="nm_cidade"
                                                    id="nm_cidade">
                                                    <option value="">Selecione uma cidade</option>
                                                    {{#each cidades}}
                                                    <option value="{{nm_cidade}}">{{nm_cidade}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="fw-bold">Bairro</label><br>
                                                <select class="form-select form-control" name="nm_bairro"
                                                    id="nm_bairro">
                                                    <option value="">Selecione um bairro</option>
                                                    {{#each bairros}}
                                                    <option value="{{nm_bairro}}">{{nm_bairro}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="fw-bold">Data Solicitada</label>
                                                <input type="date" class="form-control" name="dt_solicitada">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="fw-bold">Status</label><br>
                                                <select class="form-select form-control" name="status">
                                                    <option value="">Selecione um status</option>
                                                    <option value="ativo">Ativo</option>
                                                    <option value="cancelado">Cancelado</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end flex-wrap">
                                        <a href="/home" class="btn btn-secondary me-3 shadow-lg">Voltar</a>
                                        <button type="submit" class="btn btn-primary shadow-lg">Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!-- Resultado da Busca -->
                    <div class="card shadow-lg mx-4">
                        <div class="card-header d-none">
                            <div class="card-title">
                                <span class="fs-2 fw-bold">Retorno</span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive rounded">
                                <table class="table table-bordered table-head-bg-success">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Endereço</th>
                                            <th>Cidade</th>
                                            <th>Bairro</th>
                                            <th>Data Solicitada</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each agendamentos}}
                                        <tr>
                                            <td>{{nome}}</td>
                                            <td>{{endereco}}</td>
                                            <td>{{cidade}}</td>
                                            <td>{{bairro}}</td>
                                            <td>{{dt_solicitada}}</td>
                                            <td class="text-end">
                                                <a href="/agendamentoEditar?id_agendamento={{cd_agendamento}}"
                                                    class="btn btn-warning text-white fs-6 fw-bold shadow-lg me-3">
                                                    <i class="fa fa-edit text-white pe-2"></i>Editar
                                                </a>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Scripts -->
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const cidadeSelect = document.getElementById('nm_cidade');
                        const bairroSelect = document.getElementById('nm_bairro');

                        function carregarBairros(url, bairroSelecionado = "") {
                            bairroSelect.innerHTML = '<option value="">Selecione um bairro</option>';
                            fetch(url)
                                .then(response => response.json())
                                .then(bairros => {
                                    bairros.forEach(bairro => {
                                        const option = document.createElement('option');
                                        option.value = bairro.nm_bairro;
                                        option.textContent = bairro.nm_bairro;
                                        if (bairro.nm_bairro === bairroSelecionado) {
                                            option.selected = true;
                                        }
                                        bairroSelect.appendChild(option);
                                    });
                                });
                        }

                        if (cidadeSelect && bairroSelect) {
                            cidadeSelect.addEventListener('change', function () {
                                const cidadeNome = this.value;
                                const url = cidadeNome
                                    ? `/agendamento/bairrosPorNome/${encodeURIComponent(cidadeNome)}`
                                    : `/agendamento/bairrosPorNome`;
                                carregarBairros(url);
                            });

                            // Ao carregar a página, já busca os bairros corretos conforme a cidade selecionada
                            const cidadeInicial = cidadeSelect.value;
                            const urlInicial = cidadeInicial
                                ? `/agendamento/bairrosPorNome/${encodeURIComponent(cidadeInicial)}`
                                : `/agendamento/bairrosPorNome`;
                            const bairroSelecionado = bairroSelect.value;
                            carregarBairros(urlInicial, bairroSelecionado);
                        }
                    });
                </script>

                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const dataInput = document.querySelector('input[name="dt_solicitada"]');
                        if (!dataInput) return;

                        dataInput.addEventListener('input', function () {
                            let valor = dataInput.value;

                            // Para formato dd/mm/yyyy ou dd/mm/yyyyy...
                            let match = valor.match(/^(\d{2})\/(\d{2})\/(\d{4,})$/);
                            if (match && match[3].length > 4) {
                                let anoCorrigido = match[3].slice(0, 4);
                                dataInput.value = `${match[1]}/${match[2]}/${anoCorrigido}`;
                                return;
                            }

                            // Para formato yyyy-mm-dd ou yyyyy-mm-dd...
                            match = valor.match(/^(\d{4,})-(\d{2})-(\d{2})$/);
                            if (match && match[1].length > 4) {
                                let anoCorrigido = match[1].slice(0, 4);
                                dataInput.value = `${anoCorrigido}-${match[2]}-${match[3]}`;
                            }
                        });
                    });
                </script>

                <script>
                    // Supondo que os campos tenham os IDs 'nm_cidade' e 'nm_bairro'
                    document.addEventListener('DOMContentLoaded', function () {
                        const cidadeSelect = document.getElementById('nm_cidade');
                        const bairroSelect = document.getElementById('nm_bairro');

                        if (cidadeSelect && bairroSelect) {
                            cidadeSelect.addEventListener('change', function () {
                                if (!cidadeSelect.value || cidadeSelect.value.trim() === '') {
                                    // Limpa o filtro de bairro ao remover a cidade
                                    bairroSelect.value = '';

                                }
                            });
                        }
                    });
                </script>
            </div>
        </div>
    </body>
</main>