<main>

    <body>
        <div class="wrapper">
            <!-- Sidebar -->
            <div class="sidebar" data-background-color="dark">
                <div class="sidebar-logo">
                    <!-- Logo Header -->
                    <div class="logo-header" data-background-color="dark">
                        <a href="/home" class="logo">
                            <img src="/assets/Eco.png" alt="navbar brand" class="navbar-brand" height="30" />
                        </a>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="gg-menu-right"></i>
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="gg-menu-left"></i>
                            </button>
                        </div>
                        <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt"></i>
                        </button>
                    </div>
                    <!-- End Logo Header -->
                </div>
                <div class="sidebar-wrapper scrollbar scrollbar-inner">
                    <div class="sidebar-content">
                        <ul class="nav nav-secondary">
                            <li class="nav-item">
                                <a href="/home" class="collapsed" aria-expanded="false">
                                    <i class="fas fa-home"></i>
                                    <p>Home</p>
                                </a>
                            </li>
                            <li class="nav-section">
                                <span class="sidebar-mini-icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                                <h4 class="text-section">Funções Do Sistema</h4>
                            </li>
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#cadastro">
                                    <i class="fas fa-user"></i>
                                    <p>Cadastros</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="cadastro">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/cadastros">
                                                <span class="sub-item">Buscar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/pessoa">
                                                <span class="sub-item">Nova Pessoa</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/usuario">
                                                <span class="sub-item">Novo Usuario</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/planta">
                                                <span class="sub-item">Nova Planta</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#estoque">
                                    <i class="fas fa-th-list"></i>
                                    <p>Estoque</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="estoque">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/estoqueBuscar">
                                                <span class="sub-item">Buscar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/estoqueNovo">
                                                <span class="sub-item">Novo Estoque</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/material">
                                                <span class="sub-item">Novo Material</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/estoqueSaida">
                                                <span class="sub-item">Movimentações</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/novoMaterial">
                                                <span class="sub-item">Pesagem da coleta</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item active">
                                <a data-bs-toggle="collapse" href="#coleta">
                                    <i class="fa fa-map-marker-alt"></i>
                                    <p>Gestão de Coleta</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="coleta">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/agendamento">
                                                <span class="sub-item">Agendamento</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/rotas">
                                                <span class="sub-item">Rotas Programadas</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/attStatus">
                                                <span class="sub-item">Atualizar Status da Coleta</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="/relatorios">
                                    <i class="fas fa-table"></i>
                                    <p>Relatórios</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/processamento">
                                    <i class="fas fa-thumbtack"></i>
                                    <p>Processamento</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Sidebar -->
            <!--Start MenuBar-->
            <div class="main-panel">
                <div class="main-header">
                    <div class="main-header-logo">
                        <!-- Logo Header -->
                        <div class="logo-header" data-background-color="dark">
                            <a href="#" class="logo">
                                <img src="public/assets/Eco.png" alt="navbar brand" class="navbar-brand" height="20" />
                            </a>
                            <div class="nav-toggle">
                                <button class="btn btn-toggle toggle-sidebar">
                                    <i class="gg-menu-right"></i>
                                </button>
                                <button class="btn btn-toggle sidenav-toggler">
                                    <i class="gg-menu-left"></i>
                                </button>
                            </div>
                            <button class="topbar-toggler more">
                                <i class="gg-more-vertical-alt"></i>
                            </button>
                        </div>
                        <!-- End Logo Header -->
                    </div>
                    <!-- Navbar Header -->
                    <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                        <div class="container-fluid">
                            <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                                <li class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                        aria-expanded="false" aria-haspopup="true">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-search animated fadeIn">
                                        <form class="navbar-left navbar-form nav-search">
                                            <div class="input-group">
                                                <input type="text" placeholder="Search ..." class="form-control" />
                                            </div>
                                        </form>
                                    </ul>
                                </li>
                                <li class="nav-item topbar-user dropdown hidden-caret">
                                    <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#"
                                        aria-expanded="false">
                                        <span class="profile-username">
                                            <i class="fas fa-user-circle fa-2x"></i>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user animated fadeIn">
                                        <div class="dropdown-user-scroll scrollbar-outer">
                                            <li>
                                                <div class="user-box">
                                                    <div class="u-text">
                                                        <h4>Henrique</h4>
                                                        <p class="text-muted">henrique@gmail.com</p>
                                                        <a href="#" class="btn btn-xs btn-secondary btn-sm">
                                                            Ver
                                                            Perfil
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Minha conta</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Configurações</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="/login">Sair</a>
                                            </li>
                                        </div>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- End Navbar -->
                </div>
                <!--End MenuBar-->
                <!--Start conteudo indiviudual da pagina-->
                {{{mensagem}}}

                <div class="container">
                    <form action="/agendamentoAdd" method="POST">
                        <div class="page-inner">
                            <div
                                class="d-flex flex-column flex-md-row justify-content-md-between align-items-center mb-3">
                                <div class="mb-3 d-flex flex-column">
                                    <span class="fs-2 fw-bold">Novo agendamento de Coleta</span>
                                    <small class="text-muted">Realize o agendamento programado da coleta.</small>
                                </div>
                            </div>

                            <div class="card shadow-lg mb-5">
                                <div class="card-body">
                                    <div class="row">

                                        <!-- Pessoa Física -->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="cd_pessoa_fisica">Pessoa Física</label>
                                                <input type="text" id="pessoa_fisica_input" class="form-control"
                                                    placeholder="Digite o nome da pessoa física" autocomplete="off">
                                                <input type="hidden" name="cd_pessoa_fisica" id="cd_pessoa_fisica">
                                                <div id="lista_pessoas_fisicas" class="dropdown-menu"
                                                    style="width: 45%; max-height: 200px; overflow-y: auto;"></div>
                                            </div>
                                        </div>



                                        <!-- Pessoa Jurídica -->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="cd_pessoa_juridica">Pessoa Jurídica</label>
                                                <input type="text" id="pessoa_juridica_input" class="form-control"
                                                    placeholder="Digite o nome da pessoa jurídica" autocomplete="off">
                                                <input type="hidden" name="cd_pessoa_juridica" id="cd_pessoa_juridica">
                                                <div id="lista_pessoas_juridicas" class="dropdown-menu"
                                                    style="width: 45%; max-height: 200px; overflow-y: auto;"></div>
                                            </div>
                                        </div>

                                        <!-- Endereço -->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="fw-bold">Endereço</label>
                                                <input type="text" class="form-control" name="ds_endereco"
                                                    maxlength="45" required pattern=".*\S.*"
                                                    title="Informe um endereço válido sem apenas espaços em branco"
                                                    placeholder="Informe o endereço">
                                            </div>
                                        </div>

                                        <!-- CEP -->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="fw-bold">CEP</label>
                                                <input type="text" class="form-control" name="nr_cep" id="cep"
                                                    placeholder="Informe o CEP" maxlength="9" required>
                                            </div>
                                        </div>

                                        <!-- Cidade -->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="fw-bold">Cidade</label>
                                                <select class="form-control" name="cd_cidade">
                                                    <option value="">Selecione uma cidade</option>
                                                    {{#each cidades}}
                                                    <option value="{{cd_cidade}}">{{nm_cidade}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>

                                        <!-- Bairro -->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="fw-bold">Bairro</label>
                                                <select class="form-control" name="cd_bairro">
                                                    <option value="">Selecione um bairro</option>
                                                    {{#each bairros}}
                                                    <option value="{{cd_bairro}}">{{nm_bairro}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>

                                        <!-- Data Solicitada -->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="fw-bold">Data Solicitada</label>
                                                <input type="date" class="form-control" id="dt_solicitada"
                                                    name="dt_solicitada" required>
                                            </div>
                                        </div>

                                        <!-- Peso Previsto -->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="fw-bold">Peso Previsto (KG)</label>
                                                <input type="text" class="form-control" id="qt_quantidade_prevista_kg"
                                                    name="qt_quantidade_prevista_kg"
                                                    placeholder="Informe o peso previsto (em KG)"
                                                    pattern="^\d+([.,]?\d+)?$"
                                                    title="Digite apenas números (ponto ou vírgula são permitidos)"
                                                    required>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="d-flex justify-content-end flex-wrap mt-3">
                                        <a href="/agendamento" class="btn btn-secondary me-3 shadow-lg">Voltar</a>
                                        <button type="submit" class="btn btn-success shadow-lg">Salvar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <script>
                    $(document).ready(function () {
                        // Pessoa Física
                        $('#pessoa_fisica_input').on('input', function () {
                            const termo = $(this).val();
                            $('#cd_pessoa_fisica').val(''); // Limpa o hidden

                            if (termo.length < 2) {
                                $('#lista_pessoas_fisicas').hide();
                                return;
                            }

                            $.ajax({
                                url: '/pessoas-fisicas-busca?term=' + encodeURIComponent(termo),
                                method: 'GET',
                                success: function (data) {
                                    if (data.length === 0) {
                                        $('#lista_pessoas_fisicas').hide();
                                        return;
                                    }

                                    let lista = '';
                                    data.forEach(function (item) {
                                        lista += `<a href="#" class="dropdown-item" data-id="${item.cd_pessoa_fisica}">${item.nm_pessoa_fisica}</a>`;
                                    });

                                    $('#lista_pessoas_fisicas').html(lista).show();
                                },
                                error: function () {
                                    $('#lista_pessoas_fisicas').hide();
                                }
                            });
                        });

                        $('#lista_pessoas_fisicas').on('click', 'a', function (e) {
                            e.preventDefault();
                            const nome = $(this).text();
                            const id = $(this).data('id');
                            $('#pessoa_fisica_input').val(nome);
                            $('#cd_pessoa_fisica').val(id);
                            $('#lista_pessoas_fisicas').hide();
                        });

                        // Pessoa Jurídica
                        $('#pessoa_juridica_input').on('input', function () {
                            const termo = $(this).val();
                            $('#cd_pessoa_juridica').val(''); // Limpa o hidden

                            if (termo.length < 2) {
                                $('#lista_pessoas_juridicas').hide();
                                return;
                            }

                            $.ajax({
                                url: '/pessoas-juridicas-busca?term=' + encodeURIComponent(termo),
                                method: 'GET',
                                success: function (data) {
                                    if (data.length === 0) {
                                        $('#lista_pessoas_juridicas').hide();
                                        return;
                                    }

                                    let lista = '';
                                    data.forEach(function (item) {
                                        lista += `<a href="#" class="dropdown-item" data-id="${item.cd_pessoa_juridica}">${item.nm_fantasia}</a>`;
                                    });

                                    $('#lista_pessoas_juridicas').html(lista).show();
                                },
                                error: function () {
                                    $('#lista_pessoas_juridicas').hide();
                                }
                            });
                        });

                        $('#lista_pessoas_juridicas').on('click', 'a', function (e) {
                            e.preventDefault();
                            const nome = $(this).text();
                            const id = $(this).data('id');
                            $('#pessoa_juridica_input').val(nome);
                            $('#cd_pessoa_juridica').val(id);
                            $('#lista_pessoas_juridicas').hide();
                        });

                        // Fecha as listas ao clicar fora
                        $(document).click(function (e) {
                            if (!$(e.target).closest('#pessoa_fisica_input, #lista_pessoas_fisicas').length) {
                                $('#lista_pessoas_fisicas').hide();
                            }
                            if (!$(e.target).closest('#pessoa_juridica_input, #lista_pessoas_juridicas').length) {
                                $('#lista_pessoas_juridicas').hide();
                            }
                        });
                    });
                </script>


                <!-- Script de máscara para CEP -->
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const cepInput = document.getElementById('cep');
                        const form = document.querySelector('form');

                        cepInput.addEventListener('input', function (e) {
                            let cep = e.target.value.replace(/\D/g, '');
                            if (cep.length > 5) {
                                cep = cep.slice(0, 5) + '-' + cep.slice(5, 8);
                            }
                            e.target.value = cep;
                        });

                        form.addEventListener('submit', function () {
                            cepInput.value = cepInput.value.replace(/\D/g, '');
                        });
                    });

                    // Função para atualizar os bairros com base na cidade selecionada
                    document.querySelector('[name="cd_cidade"]').addEventListener('change', function () {
                        const cidadeId = this.value;  // Obtém o ID da cidade selecionada

                        // Verifica se uma cidade foi selecionada
                        if (cidadeId) {
                            // Realiza uma requisição Ajax para buscar os bairros
                            fetch(`/agendamento/bairros/${cidadeId}`)
                                .then(response => response.json())
                                .then(bairros => {
                                    const bairroSelect = document.querySelector('[name="cd_bairro"]');
                                    bairroSelect.innerHTML = '<option value="">Selecione um bairro</option>';  // Limpa a lista de bairros antes de adicionar os novos

                                    // Preenche a lista de bairros com os dados recebidos
                                    bairros.forEach(bairro => {
                                        const option = document.createElement('option');
                                        option.value = bairro.cd_bairro;
                                        option.textContent = bairro.nm_bairro;
                                        bairroSelect.appendChild(option);
                                    });
                                })
                                .catch(error => {
                                    console.error('Erro ao buscar os bairros:', error);
                                    alert('Erro ao carregar os bairros. Tente novamente mais tarde.');
                                });
                        } else {
                            // Se não houver cidade selecionada, limpa os bairros
                            document.querySelector('[name="cd_bairro"]').innerHTML = '<option value="">Selecione um bairro</option>';
                        }
                    });
                </script>

                <script>
                    document.getElementById('qt_quantidade_prevista_kg').addEventListener('input', function (e) {
                        let value = this.value;

                        // Substitui vírgula por ponto para normalizar temporariamente
                        value = value.replace(',', '.');

                        // Remove tudo que não for número ou ponto
                        value = value.replace(/[^0-9.]/g, '');

                        // Garante que só tenha um ponto decimal
                        const parts = value.split('.');
                        if (parts.length > 2) {
                            value = parts[0] + '.' + parts[1];
                        }

                        // Atualiza o valor no campo (com vírgula se usuário digitou vírgula antes)
                        this.value = value.replace('.', ',');
                    });
                </script>

                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const enderecoInput = document.querySelector('[name="ds_endereco"]');

                        enderecoInput.addEventListener('input', function (e) {
                            // Permite letras, números, espaços e acentos comuns; remove o restante
                            this.value = this.value.replace(/[^a-zA-Z0-9À-ÿ\s]/g, '');
                        });
                    });
                </script>
                <!--End conteudo indiviudual da pagina-->
            </div>
        </div>
    </body>