<main>

    <body>
        <div class="wrapper">
            <!-- Sidebar -->
            <div class="sidebar" data-background-color="dark">
                <div class="sidebar-logo">
                    <!-- Logo Header -->
                    <div class="logo-header" data-background-color="dark">
                        <a href="/home" class="logo">
                            <img src="/assets/Eco.png" alt="navbar brand" class="navbar-brand" height="30" />
                        </a>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="gg-menu-right"></i>
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="gg-menu-left"></i>
                            </button>
                        </div>
                        <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt"></i>
                        </button>
                    </div>
                    <!-- End Logo Header -->
                </div>
                <div class="sidebar-wrapper scrollbar scrollbar-inner">
                    <div class="sidebar-content">
                        <ul class="nav nav-secondary">
                            <li class="nav-item">
                                <a href="/home" class="collapsed" aria-expanded="false">
                                    <i class="fas fa-home"></i>
                                    <p>Home</p>
                                </a>
                            </li>
                            <li class="nav-section">
                                <span class="sidebar-mini-icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                                <h4 class="text-section">Funções Do Sistema</h4>
                            </li>
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#cadastro">
                                    <i class="fas fa-user"></i>
                                    <p>Cadastros</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="cadastro">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/cadastrosBuscar">
                                                <span class="sub-item">Buscar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/pessoa">
                                                <span class="sub-item">Nova Pessoa</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/usuario">
                                                <span class="sub-item">Novo Usuario</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/planta">
                                                <span class="sub-item">Nova Planta</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/motorista">
                                                <span class="sub-item">Novo Motorista</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/caminhao">
                                                <span class="sub-item">Novo Caminhão</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#estoque">
                                    <i class="fas fa-th-list"></i>
                                    <p>Estoque</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="estoque">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/cadastrosBuscar2">
                                                <span class="sub-item">Buscar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/estoque">
                                                <span class="sub-item">Novo Estoque</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/material">
                                                <span class="sub-item">Novo Material</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/movimentacoes">
                                                <span class="sub-item">Movimentações</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/pesagem">
                                                <span class="sub-item">Pesagem da coleta</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item active">
                                <a data-bs-toggle="collapse" href="#coleta">
                                    <i class="fa fa-map-marker-alt"></i>
                                    <p>Gestão de Coleta</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="coleta">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/agendamento">
                                                <span class="sub-item">Agendamento</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/rotas">
                                                <span class="sub-item">Rotas Programadas</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/attStatus">
                                                <span class="sub-item">Atualizar Status da Coleta</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="/relatorios">
                                    <i class="fas fa-table"></i>
                                    <p>Relatórios</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/processamento">
                                    <i class="fas fa-thumbtack"></i>
                                    <p>Processamento</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Sidebar -->
            <!--Start MenuBar-->
            <div class="main-panel">
                <div class="main-header">
                    <div class="main-header-logo">
                        <!-- Logo Header -->
                        <div class="logo-header" data-background-color="dark">
                            <a href="#" class="logo">
                                <img src="public/assets/Eco.png" alt="navbar brand" class="navbar-brand" height="20" />
                            </a>
                            <div class="nav-toggle">
                                <button class="btn btn-toggle toggle-sidebar">
                                    <i class="gg-menu-right"></i>
                                </button>
                                <button class="btn btn-toggle sidenav-toggler">
                                    <i class="gg-menu-left"></i>
                                </button>
                            </div>
                            <button class="topbar-toggler more">
                                <i class="gg-more-vertical-alt"></i>
                            </button>
                        </div>
                        <!-- End Logo Header -->
                    </div>
                    <!-- Navbar Header -->
                    <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                        <div class="container-fluid">
                            <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                                <li class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                        aria-expanded="false" aria-haspopup="true">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-search animated fadeIn">
                                        <form class="navbar-left navbar-form nav-search">
                                            <div class="input-group">
                                                <input type="text" placeholder="Search ..." class="form-control" />
                                            </div>
                                        </form>
                                    </ul>
                                </li>
                                <li class="nav-item topbar-user dropdown hidden-caret">
                                    <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#"
                                        aria-expanded="false">
                                        <span class="profile-username">
                                            <i class="fas fa-user-circle fa-2x"></i>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user animated fadeIn">
                                        <div class="dropdown-user-scroll scrollbar-outer">
                                            <li>
                                                <div class="user-box">
                                                    <div class="u-text">
                                                        <h4>Henrique</h4>
                                                        <p class="text-muted">henrique@gmail.com</p>
                                                        <a href="#" class="btn btn-xs btn-secondary btn-sm">
                                                            Ver
                                                            Perfil
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Minha conta</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Configurações</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="/login">Sair</a>
                                            </li>
                                        </div>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- End Navbar -->
                </div>
                <!--End MenuBar-->
                <!--Start conteudo indiviudual da pagina-->
                <div class="container">
                    <div class="page-inner">
                        <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-center mb-3">
                            <div class="mb-3 d-flex flex-column">
                                <span class="fs-2 fw-bold">
                                    Atualizar Status da Coleta
                                </span>
                                <small class="text-muted">
                                    Realize a atualização do status da coleta.
                                </small>
                            </div>
                            <div>
                                <a href="/rotas" class="btn btn-secondary me-3 shadow-lg">Voltar</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header d-none">
                                <div class="card-title">Titulo

                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="fs-6 fw-bold">Rota</label>
                                            <input value="{{rotas.nm_rota}}" type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="fs-6 fw-bold">Data da Rota</label>
                                            <input value="{{rotas.dt_agendada}}" type="text" class="form-control"
                                                disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="fs-6 fw-bold">Km</label>
                                            <input value="{{rotas.nr_distancia_km}}" type="text" class="form-control"
                                                disabled placeholder="____">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="fs-6 fw-bold">Peso (Kg)</label>
                                            <input type="text" value="{{rotas.qt_peso_total_kg}}" class="form-control"
                                                disabled placeholder="____">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="fs-6 fw-bold">Motorista</label>
                                            <input type="text" value="{{dadosRota.nm_motorista}}" class="form-control"
                                                disabled placeholder="____">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="fs-6 fw-bold">Caminhão</label>
                                            <input type="text" value="{{dadosRota.nm_modelo}}" class="form-control"
                                                disabled placeholder="____">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="fs-6 fw-bold">Data inicio </label>
                                            <input type="text" name="dt_inicio"
                                                value="{{#if rotas.dt_iniciado}}{{rotas.dt_iniciado}}{{else}}_____{{/if}}"
                                                class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="fs-6 fw-bold">Data Fim </label>
                                            <input type="text" name="dt_fim"
                                                value="{{#if rotas.dt_fim}}{{rotas.dt_fim}}{{else}}_____{{/if}}"
                                                class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-2 d-flex flex-row">
                                        {{#unless naoIniciou}}
                                        <button id="btn-iniciar"
                                            class="btn btn-sm mt-2 btn-primary shadow-lg me-3 fs-6 fw-bold">
                                            Iniciar
                                        </button>
                                        {{/unless}}
                                        <button id="btn-finalizar"
                                            class="btn btn-sm mt-2 btn-success shadow-lg fs-6 fw-bold">
                                            Finalizar
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow-lg mx-4">
                        <div class="card-header">
                            <div class="card-title">Pontos de Coleta</div>
                        </div>
                        <div class="card-body p-0">

                            <table class="table table-head-bg-success mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Endereço</th>
                                        <th scope="col">Cidade</th>
                                        <th scope="col">Bairro</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each pontos}}
                                    <tr>
                                        <td>{{nm_agendamento}}</td>
                                        <td>{{ds_endereco}}</td>
                                        <td>{{nm_cidade}}</td>
                                        <td>{{nm_bairro}}</td>
                                        <td>
                                            <div class="d-flex justify-content-end">
                                                <a class="btn {{#if naoColetou}}btn-success {{else}}btn-info{{/if}} me-3 fs-6 fw-bold shadow-lg btn-coletar"
                                                    data-cd-agendamento="{{cd_agendamento}}" data-rota="{{cd_rota}}">
                                                    Coletado
                                                </a>
                                                <a class="btn btn-danger fs-6 fw-bold shadow-lg btn-cancelar"
                                                    data-cd-agendamento="{{cd_agendamento}}" data-rota="{{cd_rota}}">
                                                    Cancelar
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal de Confirmação -->
            <div class="modal fade" id="modalSucesso" tabindex="-1" aria-labelledby="modalSucessoLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-success text-white">
                            <h5 class="modal-title" id="modalSucessoLabel">Sucesso</h5>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                aria-label="Fechar"></button>
                        </div>
                        <div class="modal-body">
                            Início registrado com sucesso!
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-bs-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal Motivo canelamento-->
            <div class="modal fade" id="modalMotivoCancelamento" tabindex="-1"
                aria-labelledby="modalMotivoCancelamentoLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-danger text-white">
                            <h5 class="modal-title" id="modalMotivoCancelamentoLabel">Motivo do Cancelamento</h5>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                aria-label="Fechar"></button>
                        </div>
                        <div class="modal-body">
                            <label for="motivoCancelamento" class="form-label">Selecione ou digite o motivo:</label>
                            <select id="motivoCancelamento" class="form-select mb-2">
                                <option value="">Selecione...</option>
                                <option value="Ausência do responsável">Ausência do responsável</option>
                                <option value="Endereço incorreto">Endereço incorreto</option>
                                <option value="Material não disponível">Material não disponível</option>
                                <option value="Outro">Outro</option>
                            </select>
                            <input type="text" id="motivoOutro" class="form-control mt-2 d-none"
                                placeholder="Descreva o motivo">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-danger"
                                id="confirmarMotivoCancelamento">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--end conteudo indiviudual da pagina-->
            <footer class="footer">
                <div class="container-fluid d-flex justify-content-between">
                    <nav class="pull-left">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">footer#1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">footer#2</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright">
                        2025 - Autores: Equipe 7
                    </div>
                </div>
            </footer>
        </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                // Iniciar rota
                const btnIniciar = document.getElementById('btn-iniciar');
                if (btnIniciar) {
                    btnIniciar.addEventListener('click', async () => {
                        const cdRota = {{ rotas.cd_rota }};
                    try {
                        const response = await fetch(`/attStatus/${cdRota}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ acao: 'iniciar' })
                        });
                        const result = await response.json();
                        if (result.success) {
                            btnIniciar.style.display = 'none';
                            swal("Início registrado!", "A coleta foi iniciada com sucesso!", {
                                icon: "success",
                                buttons: {
                                    confirm: {
                                        text: "OK",
                                        className: "btn btn-success",
                                    },
                                },
                            });
                        } else if (result.motoristaCaminhao) {
                            swal("Atenção!", result.message, {
                                icon: "warning",
                                buttons: {
                                    confirm: {
                                        text: "Entendi",
                                        className: "btn btn-warning",
                                    },
                                },
                            });
                        } else if (result.iniciado) {
                            swal("Atenção!", result.message, {
                                icon: "warning",
                                buttons: {
                                    confirm: {
                                        text: "Entendi",
                                        className: "btn btn-warning",
                                    },
                                },
                            });
                        } else {
                            swal("Erro!", "Não foi possível iniciar a rota.", {
                                icon: "error",
                                buttons: {
                                    confirm: {
                                        text: "OK",
                                        className: "btn btn-danger",
                                    },
                                },
                            });
                        }
                    } catch (error) {
                        console.error('Erro na requisição:', error);
                        swal("Erro!", "Erro na comunicação com o servidor.", {
                            icon: "error",
                            buttons: {
                                confirm: {
                                    text: "OK",
                                    className: "btn btn-danger",
                                },
                            },
                        });
                    }
                });
    }

            // Finalizar rota
            const btnFinalizar = document.getElementById('btn-finalizar');
            if (btnFinalizar) {
                btnFinalizar.addEventListener('click', async () => {
                    const cdRota = {{ rotas.cd_rota }};
                try {
                    const response = await fetch(`/attStatus/${cdRota}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ acao: 'finalizar' })
                    });

                    const result = await response.json();
                    if (result.success) {
                        btnFinalizar.style.display = 'none';
                        swal("Rota Finalizada com sucesso!", "A coleta foi finalizada com sucesso!", {
                            icon: "success",
                            buttons: {
                                confirm: {
                                    text: "OK",
                                    className: "btn btn-success",
                                },
                            },
                        });
                    } else if (result.coletado) {
                        swal("Atenção!", result.message, {
                            icon: "warning",
                            buttons: {
                                confirm: {
                                    text: "Entendi",
                                    className: "btn btn-warning",
                                },
                            },
                        });
                    } else if (result.jaFinalizada) {
                        swal("Atenção!", result.message, {
                            icon: "warning",
                            buttons: {
                                confirm: {
                                    text: "Entendi",
                                    className: "btn btn-warning",
                                },
                            },
                        });
                    } else if (result.motoristaCaminhao) {
                        swal("Atenção!", result.message, {
                            icon: "warning",
                            buttons: {
                                confirm: {
                                    text: "Entendi",
                                    className: "btn btn-warning",
                                },
                            },
                        });
                    } else {
                        swal("Erro!", "Não foi possível registrar o término.", {
                            icon: "error",
                            buttons: {
                                confirm: {
                                    text: "OK",
                                    className: "btn btn-danger",
                                },
                            },
                        });
                    }
                } catch (error) {
                    console.error('Erro na requisição:', error);
                    swal("Erro!", "Erro na comunicação com o servidor.", {
                        icon: "error",
                        buttons: {
                            confirm: {
                                text: "OK",
                                className: "btn btn-danger",
                            },
                        },
                    });
                }
            });
    }

            // Coletar ponto
            document.querySelectorAll('.btn-coletar').forEach(btn => {
                btn.addEventListener('click', async (e) => {
                    const cdAgendamento = btn.getAttribute('data-cd-agendamento');
                    try {
                        const response = await fetch(`/atualizarAgendamento/${cdAgendamento}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ acao: 'coletar' })
                        });
                        const result = await response.json();
                        if (result.success) {
                            btn.style.display = 'none';
                            // Busca o botão cancelar no mesmo container d-flex
                            const cancelarBtn = btn.closest('.d-flex').querySelector('.btn-cancelar');
                            if (cancelarBtn) cancelarBtn.style.display = 'none';
                            swal("Coleta registrada!", "O ponto foi coletado com sucesso!", {
                                icon: "success",
                                buttons: {
                                    confirm: {
                                        text: "OK",
                                        className: "btn btn-success",
                                    },
                                },
                            });
                        } else if (result.rotaNaoIniciada) {
                            swal("Atenção!", result.message, {
                                icon: "warning",
                                buttons: {
                                    confirm: {
                                        text: "Entendi",
                                        className: "btn btn-warning",
                                    },
                                },
                            });
                        } else if (result.jaColetado) {
                            swal("Atenção!", result.message, {
                                icon: "warning",
                                buttons: {
                                    confirm: {
                                        text: "Entendi",
                                        className: "btn btn-warning",
                                    },
                                },
                            });
                        } else if (result.pontoCancelado) {
                            swal("Atenção!", result.message, {
                                icon: "warning",
                                buttons: {
                                    confirm: {
                                        text: "Entendi",
                                        className: "btn btn-warning",
                                    },
                                },
                            });
                        } else {
                            swal("Erro!", "Erro ao coletar ponto.", {
                                icon: "error",
                                buttons: {
                                    confirm: {
                                        text: "OK",
                                        className: "btn btn-danger",
                                    },
                                },
                            });
                        }
                    } catch (error) {
                        console.error('Erro na requisição:', error);
                        swal("Erro!", "Erro na comunicação com o servidor.", {
                            icon: "error",
                            buttons: {
                                confirm: {
                                    text: "OK",
                                    className: "btn btn-danger",
                                },
                            },
                        });
                    }
                });
            });

            // Cancelar ponto
            let agendamentoParaCancelar = null;
            let cancelarBtnRef = null;
            document.querySelectorAll('.btn-cancelar').forEach(btn => {
                btn.addEventListener('click', (e) => {
                    agendamentoParaCancelar = btn.getAttribute('data-cd-agendamento');
                    cancelarBtnRef = btn;
                    // Limpa campos do modal
                    document.getElementById('motivoCancelamento').value = "";
                    document.getElementById('motivoOutro').classList.add('d-none');
                    document.getElementById('motivoOutro').value = "";
                    // Mostra o modal
                    var modal = new bootstrap.Modal(document.getElementById('modalMotivoCancelamento'));
                    modal.show();
                });
            });

            // Mostra campo de texto se "Outro" for selecionado
            document.getElementById('motivoCancelamento').addEventListener('change', function () {
                if (this.value === "Outro") {
                    document.getElementById('motivoOutro').classList.remove('d-none');
                } else {
                    document.getElementById('motivoOutro').classList.add('d-none');
                    document.getElementById('motivoOutro').value = "";
                }
            });

            // Confirma o motivo e envia para o backend
            document.getElementById('confirmarMotivoCancelamento').addEventListener('click', async function () {
                const motivoSelect = document.getElementById('motivoCancelamento').value;
                const motivoOutro = document.getElementById('motivoOutro').value;
                let motivo = motivoSelect === "Outro" ? motivoOutro : motivoSelect;

                if (!motivo) {
                    swal("Atenção!", "Por favor, selecione ou digite um motivo.", {
                        icon: "warning",
                        buttons: {
                            confirm: {
                                text: "Entendi",
                                className: "btn btn-warning",
                            },
                        },
                    });
                    return;
                }

                try {
                    const response = await fetch(`/atualizarAgendamento/${agendamentoParaCancelar}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ acao: 'cancelar', motivo })
                    });
                    const result = await response.json();
                    if (result.success) {
                        if (cancelarBtnRef) {
                            cancelarBtnRef.style.display = 'none';
                            // Busca o botão coletar no mesmo container d-flex
                            const coletarBtn = cancelarBtnRef.closest('.d-flex').querySelector('.btn-coletar');
                            if (coletarBtn) coletarBtn.style.display = 'none';
                        }
                        swal("Cancelamento registrado!", "O ponto foi cancelado com sucesso!", {
                            icon: "success",
                            buttons: {
                                confirm: {
                                    text: "OK",
                                    className: "btn btn-success",
                                },
                            },
                        });
                    } else if (result.jaColetado) {
                        swal("Atenção!", result.message, {
                            icon: "warning",
                            buttons: {
                                confirm: {
                                    text: "Entendi",
                                    className: "btn btn-warning",
                                },
                            },
                        });
                    } else if (result.jaCancelado) {
                        swal("Atenção!", result.message, {
                            icon: "warning",
                            buttons: {
                                confirm: {
                                    text: "Entendi",
                                    className: "btn btn-warning",
                                },
                            },
                        });
                    } else if (result.rotaNaoIniciada) {
                        swal("Atenção!", result.message, {
                            icon: "warning",
                            buttons: {
                                confirm: {
                                    text: "Entendi",
                                    className: "btn btn-warning",
                                },
                            },
                        });
                    } else {
                        swal("Erro!", "Erro ao cancelar ponto.", {
                            icon: "error",
                            buttons: {
                                confirm: {
                                    text: "OK",
                                    className: "btn btn-danger",
                                },
                            },
                        });
                    }
                } catch (error) {
                    console.error('Erro na requisição:', error);
                    swal("Erro!", "Erro na comunicação com o servidor.", {
                        icon: "error",
                        buttons: {
                            confirm: {
                                text: "OK",
                                className: "btn btn-danger",
                            },
                        },
                    });
                }
                // Fecha o modal
                var modal = bootstrap.Modal.getInstance(document.getElementById('modalMotivoCancelamento'));
                modal.hide();
            });

            // Formatar datas (mantém seu script de formatação)
            const formatarData = (dataString) => {
                if (!dataString || dataString === "_____" || dataString === "Na/Na/Na") return "_____";
                const data = new Date(dataString);
                if (isNaN(data)) return "_____";
                const dia = String(data.getDate()).padStart(2, '0');
                const mes = String(data.getMonth() + 1).padStart(2, '0');
                const ano = String(data.getFullYear()).slice(-2);
                return `${dia}/${mes}/${ano}`;
            };

            const inputDtInicio = document.querySelector('input[name="dt_inicio"]');
            const inputDtFim = document.querySelector('input[name="dt_fim"]');

            if (inputDtInicio) inputDtInicio.value = formatarData(inputDtInicio.value);
            if (inputDtFim) inputDtFim.value = formatarData(inputDtFim.value);
});
        </script>


    </body>
</main>