<main>

    <body>
        <div class="wrapper">
            <!-- Sidebar -->
            <div class="sidebar" data-background-color="dark">
                <div class="sidebar-logo">
                    <!-- Logo Header -->
                    <div class="logo-header" data-background-color="dark">
                        <a href="/home" class="logo">
                            <img src="/assets/Eco.png" alt="navbar brand" class="navbar-brand" height="30" />
                        </a>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="gg-menu-right"></i>
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="gg-menu-left"></i>
                            </button>
                        </div>
                        <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt"></i>
                        </button>
                    </div>
                    <!-- End Logo Header -->
                </div>
                <div class="sidebar-wrapper scrollbar scrollbar-inner">
                    <div class="sidebar-content">
                        <ul class="nav nav-secondary">
                            <li class="nav-item">
                                <a href="/home" class="collapsed" aria-expanded="false">
                                    <i class="fas fa-home"></i>
                                    <p>Home</p>
                                </a>
                            </li>
                            <li class="nav-section">
                                <span class="sidebar-mini-icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                                <h4 class="text-section">Funções Do Sistema</h4>
                            </li>
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#cadastro">
                                    <i class="fas fa-user"></i>
                                    <p>Cadastros</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="cadastro">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/cadastros">
                                                <span class="sub-item">Buscar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/pessoa">
                                                <span class="sub-item">Nova Pessoa</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/usuario">
                                                <span class="sub-item">Novo Usuario</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/planta">
                                                <span class="sub-item">Nova Planta</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item active">
                                <a data-bs-toggle="collapse" href="#estoque">
                                    <i class="fas fa-th-list"></i>
                                    <p>Estoque</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="estoque">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/estoqueBuscar">
                                                <span class="sub-item">Buscar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/estoqueNovo">
                                                <span class="sub-item">Novo Estoque</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/material">
                                                <span class="sub-item">Novo Material</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/estoqueSaida">
                                                <span class="sub-item">Movimentações</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/novoMaterial">
                                                <span class="sub-item">Pesagem da coleta</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#coleta">
                                    <i class="fa fa-map-marker-alt"></i>
                                    <p>Gestão de Coleta</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="coleta">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/agendamento">
                                                <span class="sub-item">Agendamento</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/rotas">
                                                <span class="sub-item">Rotas Programadas</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/attStatus">
                                                <span class="sub-item">Atualizar Status da Coleta</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="/relatorios">
                                    <i class="fas fa-table"></i>
                                    <p>Relatórios</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/processamento">
                                    <i class="fas fa-thumbtack"></i>
                                    <p>Processamento</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Sidebar -->
            <!--Start MenuBar-->
            <div class="main-panel">
                <div class="main-header">
                    <div class="main-header-logo">
                        <!-- Logo Header -->
                        <div class="logo-header" data-background-color="dark">
                            <a href="#" class="logo">
                                <img src="public/assets/Eco.png" alt="navbar brand" class="navbar-brand" height="20" />
                            </a>
                            <div class="nav-toggle">
                                <button class="btn btn-toggle toggle-sidebar">
                                    <i class="gg-menu-right"></i>
                                </button>
                                <button class="btn btn-toggle sidenav-toggler">
                                    <i class="gg-menu-left"></i>
                                </button>
                            </div>
                            <button class="topbar-toggler more">
                                <i class="gg-more-vertical-alt"></i>
                            </button>
                        </div>
                        <!-- End Logo Header -->
                    </div>
                    <!-- Navbar Header -->
                    <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                        <div class="container-fluid">
                            <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                                <li class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                        aria-expanded="false" aria-haspopup="true">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-search animated fadeIn">
                                        <form class="navbar-left navbar-form nav-search">
                                            <div class="input-group">
                                                <input type="text" placeholder="Search ..." class="form-control" />
                                            </div>
                                        </form>
                                    </ul>
                                </li>
                                <li class="nav-item topbar-user dropdown hidden-caret">
                                    <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#"
                                        aria-expanded="false">
                                        <span class="profile-username">
                                            <i class="fas fa-user-circle fa-2x"></i>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user animated fadeIn">
                                        <div class="dropdown-user-scroll scrollbar-outer">
                                            <li>
                                                <div class="user-box">
                                                    <div class="u-text">
                                                        <h4>Henrique</h4>
                                                        <p class="text-muted">henrique@gmail.com</p>
                                                        <a href="#" class="btn btn-xs btn-secondary btn-sm">
                                                            Ver
                                                            Perfil
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Minha conta</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Configurações</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="/login">Sair</a>
                                            </li>
                                        </div>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- End Navbar -->
                </div>
                <!--End MenuBar-->

                <!-- Start conteudo indiviual da pagina -->
                <div class="container">
                    <div class="page-inner">
                        <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-center mb-3">
                            <div class="mb-3 d-flex flex-column">
                                <span class="fs-2 fw-bold">Buscar Cadastros</span>
                                <small class="text-muted">Filtre por todos os tipos de cadastros do sistema.</small>
                            </div>
                        </div>

                        <div class="card shadow-lg">
                            <div class="card-body">
                                <form id="filtroForm" method="POST" action="/cadastros">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="fw-bold">Tipo de Cadastro</label>
                                                <select class="form-select form-control" id="defaultSelect"
                                                    name="tipoCadastro">
                                                    <option value="Pessoa" {{#if (eq tipoCadastro "Pessoa"
                                                        )}}selected{{/if}}>Pessoa Física</option>
                                                    <option value="Fornecedor ou Pessoa Jurídica" {{#if (eq
                                                        tipoCadastro "Fornecedor ou Pessoa Jurídica" )}}selected{{/if}}>
                                                        Pessoa Jurídica</option>
                                                        <option value="Usuário" {{#if (eq tipoCadastro "Usuário"
                                                        )}}selected{{/if}}>Usuário</option>
                                                    <option value="Planta de Reciclagem" {{#if (eq
                                                        tipoCadastro "Planta de Reciclagem" )}}selected{{/if}}>Planta de
                                                        Reciclagem</option>
                                                </select>
                                            </div>
                                        </div>

                                        <!-- Situação - Substitui Telefone quando for Planta de Reciclagem -->
                                        <div class="col-md-6" id="situacaoField" style="display:none;">
                                            <div class="form-group">
                                                <label class="fw-bold">Situação</label>
                                                <select name="situacao" class="form-select form-control">
                                                    <option value="Todos">Todos</option>
                                                    <option value="Ativo">Ativo</option>
                                                    <option value="Inativo">Inativo</option>
                                                </select>
                                            </div>
                                        </div>

                                        <!-- Telefone (será escondido quando for Planta de Reciclagem) -->
                                        <div class="col-md-6" id="telefoneField">
                                            <div class="form-group">
                                                <label class="fw-bold">Telefone</label>
                                                <input maxlength="18" name="telefone" class="form-control"
                                                    placeholder="Nr de telefone" />
                                            </div>
                                        </div>




                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="fw-bold">Nome</label>
                                                <input type="text" name="nome" class="form-control"
                                                    placeholder="Insira o Nome" />
                                            </div>
                                        </div>

                                        <!-- CPF -->
                                        <div class="col-md-6" id="cpfField">
                                            <div class="form-group">
                                                <label class="fw-bold">CPF</label>
                                                <input type="text" name="cpf" class="form-control"
                                                    placeholder="Informe o CPF" />
                                            </div>
                                        </div>

                                        <!-- CNPJ -->
                                        <div class="col-md-6" id="cnpjField">
                                            <div class="form-group">
                                                <label class="fw-bold">CNPJ</label>
                                                <input type="text" name="cnpj" class="form-control"
                                                    placeholder="Informe o CNPJ" />
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="fw-bold">E-mail</label>
                                                <input type="text" name="email" class="form-control"
                                                    placeholder="Insira o E-mail" />
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="fw-bold">Código Cadastrado</label>
                                                <input type="text" name="codigo" class="form-control"
                                                    placeholder="Informe o código" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-footer d-flex justify-content-end mt-3">
                                        <button type="button" id="limparBtn" class="btn btn-info me-3">Limpar
                                            Filtros</button>
                                        <button type="submit" class="btn btn-primary">Buscar</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- TABELA DE RESULTADO -->
                        <div class="card shadow-lg mt-4">
                            <div class="card-body">
                                <div class="table-responsive rounded">
                                    <table class="table table-bordered table-head-bg-success">
                                        <thead>
                                            <tr>
                                                <th>Nome</th>
                                                {{#if (eq tipoCadastro "Planta de Reciclagem")}}
                                                <th>Área Total (m²)</th>
                                                <th>Capacidade Total (Kg)</th>
                                                <th>Capacidade Atual (Kg)</th>
                                                {{else}}
                                                <th>Email</th>
                                                <th>CPF/CNPJ</th>
                                                <th>Telefone</th>
                                                {{/if}}
                                                <th>Código</th>
                                                {{#if (or (eq tipoCadastro "Planta de Reciclagem") (eq tipoCadastro
                                                "Usuário"))}}
                                                <th>Situação</th>
                                                {{/if}}
                                                <th>Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#if resultados}}
                                            {{#each resultados}}
                                            <tr>
                                                <td>{{nome}}</td>

                                                {{#if (eq ../tipoCadastro "Planta de Reciclagem")}}
                                                <td>{{area_total}}</td>
                                                <td>{{capacidade_total}}</td>
                                                <td>{{capacidade_atual}}</td>
                                                {{else}}
                                                <td>{{#if email}}{{email}}{{else}}-{{/if}}</td>
                                                <td>
                                                    {{#if cpf}}{{cpf}}{{else}}
                                                    {{#if cnpj}}{{cnpj}}{{else}}-{{/if}}
                                                    {{/if}}
                                                </td>
                                                <td>{{#if telefone}}{{telefone}}{{else}}-{{/if}}</td>
                                                {{/if}}

                                                <td>{{codigo}}</td>

                                                {{#if (or (eq ../tipoCadastro "Planta de Reciclagem") (eq
                                                ../tipoCadastro "Usuário"))}}
                                                <td>{{#if situacao}}{{situacao}}{{else}}-{{/if}}</td>
                                                {{/if}}

                                                <td>
                                                    <a href="/editar/{{codigo}}"
                                                        class="btn btn-primary btn-round btn-border fw-bold shadow-sm btn-editar"
                                                        data-codigo="{{codigo}}">
                                                        <span class="btn-label">
                                                            <i class="fas fa-angle-double-right"></i>
                                                        </span>
                                                        Acessar
                                                    </a>
                                                </td>
                                            </tr>
                                            {{/each}}
                                            {{else}}
                                            <tr>
                                                <td colspan="7" class="text-center text-muted">Nenhum cadastro
                                                    encontrado</td>
                                            </tr>
                                            {{/if}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                        <!-- Scripts -->
                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                const tipoCadastro = document.getElementById('defaultSelect');
                                const telefoneField = document.getElementById('telefoneField');
                                const situacaoField = document.getElementById('situacaoField');
                                const cpfField = document.getElementById('cpfField');
                                const cnpjField = document.getElementById('cnpjField');
                                const limparBtn = document.getElementById('limparBtn');
                                const form = document.getElementById('filtroForm');
                                const editarLinks = document.querySelectorAll('.btn-editar');

                                // Função para atualizar os campos de acordo com o tipo de cadastro
                                function updateFields() {
                                    const selected = tipoCadastro.value;

                                    // Esconde todos os campos inicialmente
                                    telefoneField.style.display = 'none';
                                    situacaoField.style.display = 'none';
                                    cpfField.style.display = 'none';
                                    cnpjField.style.display = 'none';

                                    // Mostrar o campo 'Situação' se for 'Planta de Reciclagem'
                                    if (selected === 'Planta de Reciclagem' || selected === 'Usuário') {
                                        situacaoField.style.display = 'block'; // Mostra Situação para Planta de Reciclagem
                                        if (selected === 'Planta de Reciclagem') {
                                            cnpjField.style.display = 'block'; // Mostra CNPJ para Planta de Reciclagem
                                        }
                                    }
                                    // Caso contrário, mostra o campo 'Telefone' e os campos de CPF ou CNPJ conforme o tipo de cadastro
                                    else {
                                        telefoneField.style.display = 'block';
                                        cnpjField.style.display = 'none'; // Garante que CNPJ não apareça para outros tipos que não sejam Planta
                                        if (selected === 'Pessoa' || selected === 'Usuário') {
                                            cpfField.style.display = 'block'; // Mostrar CPF para Pessoa e Usuário
                                        } else if (selected === 'Fornecedor ou Pessoa Jurídica') {
                                            cnpjField.style.display = 'block'; // Mostrar CNPJ para Fornecedor ou Pessoa Jurídica
                                        }
                                    }
                                }

                                // Função para atualizar os links de edição com base no tipo de cadastro
                                function atualizarLinksEditar() {
                                    const tipo = tipoCadastro.value;
                                    let rota = '/editar';

                                    switch (tipo) {
                                        case 'Pessoa':
                                            rota = '/pessoaEditar';
                                            break;
                                        case 'Usuário':
                                            rota = '/usuarioEditar';
                                            break;
                                        case 'Fornecedor ou Pessoa Jurídica':
                                            rota = '/juridicaEditar';
                                            break;
                                        case 'Planta de Reciclagem':
                                            rota = '/plantaEditar';
                                            break;
                                    }

                                    editarLinks.forEach(link => {
                                        const codigo = link.getAttribute('data-codigo');
                                        link.setAttribute('href', `${rota}/${codigo}`);
                                    });
                                }

                                // Adiciona o evento de mudança para atualizar os campos e os links de edição
                                tipoCadastro.addEventListener('change', () => {
                                    updateFields();
                                    atualizarLinksEditar();
                                });

                                // Função de limpar os campos do filtro e resetar as visibilidades
                                limparBtn.addEventListener('click', () => {
                                    form.reset();
                                    updateFields();
                                    atualizarLinksEditar();
                                });

                                // Chama a função para configurar os campos ao carregar a página
                                updateFields();
                                atualizarLinksEditar();
                            });
                        </script>

                    </div>
                </div>

                <!-- Script para alterar os campos visíveis com base no tipo de cadastro -->


                <footer class="footer">
                    <div class="container-fluid d-flex justify-content-between">
                        <nav class="pull-left">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">footer#1</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">footer#2</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="copyright">
                            2025 - Autores: Equipe 7
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <!--end conteudo indiviual da pagina-->
    </body>
</main>