<main>

    <body>
        <div class="wrapper">
            <!-- Sidebar -->
            <div class="sidebar" data-background-color="dark">
                <div class="sidebar-logo">
                    <!-- Logo Header -->
                    <div class="logo-header" data-background-color="dark">
                        <a href="/home" class="logo">
                            <img src="/assets/Eco.png" alt="navbar brand" class="navbar-brand" height="30" />
                        </a>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="gg-menu-right"></i>
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="gg-menu-left"></i>
                            </button>
                        </div>
                        <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt"></i>
                        </button>
                    </div>
                    <!-- End Logo Header -->
                </div>
                <div class="sidebar-wrapper scrollbar scrollbar-inner">
                    <div class="sidebar-content">
                        <ul class="nav nav-secondary">
                            <li class="nav-item">
                                <a href="/home" class="collapsed" aria-expanded="false">
                                    <i class="fas fa-home"></i>
                                    <p>Home</p>
                                </a>
                            </li>
                            <li class="nav-section">
                                <span class="sidebar-mini-icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                                <h4 class="text-section">Funções Do Sistema</h4>
                            </li>
                            <li class="nav-item active">
                                <a data-bs-toggle="collapse" href="#cadastro">
                                    <i class="fas fa-user"></i>
                                    <p>Cadastros</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="cadastro">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/cadastrosBuscar">
                                                <span class="sub-item">Buscar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/pessoa">
                                                <span class="sub-item">Nova Pessoa</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/usuario">
                                                <span class="sub-item">Novo Usuario</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/planta">
                                                <span class="sub-item">Nova Planta</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/motorista">
                                                <span class="sub-item">Novo Motorista</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/caminhao">
                                                <span class="sub-item">Novo Caminhão</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#estoque">
                                    <i class="fas fa-th-list"></i>
                                    <p>Estoque</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="estoque">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/cadastrosBuscar2">
                                                <span class="sub-item">Buscar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/estoque">
                                                <span class="sub-item">Novo Estoque</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/material">
                                                <span class="sub-item">Novo Material</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/movimentacoes">
                                                <span class="sub-item">Movimentações</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/pesagem">
                                                <span class="sub-item">Pesagem da coleta</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#coleta">
                                    <i class="fa fa-map-marker-alt"></i>
                                    <p>Gestão de Coleta</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="coleta">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/agendamento">
                                                <span class="sub-item">Agendamento</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/rotas">
                                                <span class="sub-item">Rotas Programadas</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/attStatus">
                                                <span class="sub-item">Atualizar Status da Coleta</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="/relatorios">
                                    <i class="fas fa-table"></i>
                                    <p>Relatórios</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/processamento">
                                    <i class="fas fa-thumbtack"></i>
                                    <p>Processamento</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Sidebar -->
            <!--Start MenuBar-->
            <div class="main-panel">
                <div class="main-header">
                    <div class="main-header-logo">
                        <!-- Logo Header -->
                        <div class="logo-header" data-background-color="dark">
                            <a href="#" class="logo">
                                <img src="public/assets/Eco.png" alt="navbar brand" class="navbar-brand" height="20" />
                            </a>
                            <div class="nav-toggle">
                                <button class="btn btn-toggle toggle-sidebar">
                                    <i class="gg-menu-right"></i>
                                </button>
                                <button class="btn btn-toggle sidenav-toggler">
                                    <i class="gg-menu-left"></i>
                                </button>
                            </div>
                            <button class="topbar-toggler more">
                                <i class="gg-more-vertical-alt"></i>
                            </button>
                        </div>
                        <!-- End Logo Header -->
                    </div>
                    <!-- Navbar Header -->
                    <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                        <div class="container-fluid">
                            <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                                <li class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                        aria-expanded="false" aria-haspopup="true">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-search animated fadeIn">
                                        <form class="navbar-left navbar-form nav-search">
                                            <div class="input-group">
                                                <input type="text" placeholder="Search ..." class="form-control" />
                                            </div>
                                        </form>
                                    </ul>
                                </li>
                                <li class="nav-item topbar-user dropdown hidden-caret">
                                    <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#"
                                        aria-expanded="false">
                                        <span class="profile-username">
                                            <i class="fas fa-user-circle fa-2x"></i>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user animated fadeIn">
                                        <div class="dropdown-user-scroll scrollbar-outer">
                                            <li>
                                                <div class="user-box">
                                                    <div class="u-text">
                                                        <h4>Henrique</h4>
                                                        <p class="text-muted">henrique@gmail.com</p>
                                                        <a href="#" class="btn btn-xs btn-secondary btn-sm">
                                                            Ver
                                                            Perfil
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Minha conta</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Configurações</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="/login">Sair</a>
                                            </li>
                                        </div>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- End Navbar -->
                </div>
                <!--End MenuBar-->
                <!-- Start conteudo indiviual da pagina -->
                <div class="container">
                    <div class="page-inner">
                        <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-center mb-3">
                            <div class="mb-3 d-flex flex-column">
                                <span class="fs-2 fw-bold">Buscar Cadastros</span>
                                <small class="text-muted">Filtre por todos os tipos de cadastros do sistema.</small>
                            </div>
                        </div>
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <form id="filtroForm" method="POST" action="/cadastrosBuscar">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="fw-bold">Tipo de Cadastro</label>
                                                <select class="form-select form-control" id="defaultSelect"
                                                    name="tipoCadastro">
                                                    <option value="Pessoa" {{#if (eq tipoCadastro "Pessoa"
                                                        )}}selected{{/if}}>Pessoa Física</option>
                                                    <option value="Fornecedor ou Pessoa Jurídica" {{#if (eq
                                                        tipoCadastro "Fornecedor ou Pessoa Jurídica" )}}selected{{/if}}>
                                                        Pessoa Jurídica</option>
                                                    <option value="Usuário" {{#if (eq tipoCadastro "Usuário"
                                                        )}}selected{{/if}}>Usuário</option>
                                                    <option value="Planta de Reciclagem" {{#if (eq
                                                        tipoCadastro "Planta de Reciclagem" )}}selected{{/if}}>Planta
                                                    </option>
                                                    <option value="Motorista" {{#if (eq tipoCadastro "Motorista"
                                                        )}}selected{{/if}}>Motorista</option>
                                                    <option value="Caminhão" {{#if (eq tipoCadastro "Caminhão"
                                                        )}}selected{{/if}}>Caminhão</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6" id="situacaoField" style="display:none;">
                                            <div class="form-group">
                                                <label class="fw-bold">Situação</label>
                                                <select name="situacao" class="form-select form-control">
                                                    <option value="Todos">Todos</option>
                                                    <option value="Ativo">Ativo</option>
                                                    <option value="Inativo">Inativo</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6" id="cpfField">
                                            <div class="form-group">
                                                <label class="fw-bold">CPF</label>
                                                <input type="text" name="cpf" class="form-control"
                                                    placeholder="Informe o CPF" />
                                            </div>
                                        </div>
                                        <div class="col-md-6" id="cnpjField">
                                            <div class="form-group">
                                                <label class="fw-bold">CNPJ</label>
                                                <input type="text" name="cnpj" class="form-control"
                                                    placeholder="Informe o CNPJ" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="fw-bold">Nome</label>
                                                <input type="text" name="nome" class="form-control"
                                                    placeholder="Insira o Nome" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="fw-bold">Código Cadastrado</label>
                                                <input type="text" name="codigo" class="form-control"
                                                    placeholder="Informe o código" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex justify-content-end mt-3">
                                        <button type="button" id="limparBtn" class="btn btn-info me-3">Limpar
                                            Filtros</button>
                                        <button type="submit" class="btn btn-primary">Buscar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- TABELA DE RESULTADO -->
                        <div class="card shadow-lg mt-4">
                            <div class="card-body">
                                <div class="table-responsive rounded">
                                    <table class="table table-bordered table-head-bg-success align-middle">
                                        <thead>
                                            <tr>
                                                <th class="text-center align-middle">Código</th>
                                                <th class="align-middle">Nome</th>
                                                {{#if (eq tipoCadastro "Planta de Reciclagem")}}
                                                <th class="text-center align-middle">Volume Máximo</th>
                                                <th class="text-center align-middle">Volume Disponível</th>
                                                <th class="text-center align-middle">Volume Atual</th>
                                                <th class="text-center align-middle">KG Atual</th>
                                                <th class="text-center align-middle">Situação</th>
                                                {{else if (eq tipoCadastro "Motorista")}}
                                                <th class="text-center align-middle">CNH</th>
                                                <th class="text-center align-middle">Categoria CNH</th>
                                                <th class="text-center align-middle">Vencimento CNH</th>
                                                <th class="text-center align-middle">Situação</th>
                                                {{else if (eq tipoCadastro "Caminhão")}}
                                                <th class="text-center align-middle">Placa</th>
                                                <th class="text-center align-middle">Tipo</th>
                                                <th class="text-center align-middle">KG Máximo</th>
                                                <th class="text-center align-middle">Volume Máximo</th>
                                                <th class="text-center align-middle">Ano Fabricação</th>
                                                <th class="text-center align-middle">Situação</th>
                                                {{else}}
                                                <th class="align-middle">E-mail</th>
                                                <th class="text-center align-middle">CPF / CNPJ</th>
                                                <th class="text-center align-middle">Telefone</th>
                                                {{#if (or (eq tipoCadastro "Planta de Reciclagem") (eq tipoCadastro
                                                "Usuário"))}}
                                                <th class="text-center align-middle">Situação</th>
                                                {{/if}}
                                                {{/if}}
                                                <th class="text-center align-middle">Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#if resultados}}
                                            {{#each resultados}}
                                            <tr>
                                                <td class="text-center align-middle">{{codigo}}</td>
                                                <td class="align-middle">{{nome}}</td>

                                                {{#if (eq ../tipoCadastro "Planta de Reciclagem")}}
                                                <td class="text-center align-middle">{{volume_total}}</td>
                                                <td class="text-center align-middle">{{volume_disponivel}}</td>
                                                <td class="text-center align-middle">{{volume_atual}}</td>
                                                <td class="text-center align-middle">{{kg_atual}}</td>
                                                <td class="text-center align-middle">{{situacao}}</td>
                                                {{else if (eq ../tipoCadastro "Motorista")}}
                                                <td class="text-center align-middle">{{cnh}}</td>
                                                <td class="text-center align-middle">{{categoria}}</td>
                                                <td class="text-center align-middle">{{vencimento}}</td>
                                                <td class="text-center align-middle">{{situacao}}</td>
                                                {{else if (eq ../tipoCadastro "Caminhão")}}
                                                <td class="text-center align-middle">{{placa}}</td>
                                                <td class="text-center align-middle">{{tipo}}</td>
                                                <td class="text-center align-middle">{{capacidade_kg}}</td>
                                                <td class="text-center align-middle">{{capacidade_volume}}</td>
                                                <td class="text-center align-middle">{{ano_fabricacao}}</td>
                                                <td class="text-center align-middle">{{situacao}}</td>
                                                {{else}}
                                                <td class="align-middle">{{#if email}}{{email}}{{else}}-{{/if}}</td>
                                                <td class="text-center align-middle">
                                                    {{#if cpf}}{{cpf}}{{else}}
                                                    {{#if cnpj}}{{cnpj}}{{else}}-{{/if}}
                                                    {{/if}}
                                                </td>
                                                <td class="text-center align-middle">{{#if telefone}}{{telefone}}{{else}}-{{/if}}</td>
                                                {{#if (or (eq ../tipoCadastro "Planta de Reciclagem") (eq
                                                ../tipoCadastro "Usuário"))}}
                                                <td class="text-center align-middle">{{#if situacao}}{{situacao}}{{else}}-{{/if}}</td>
                                                {{/if}}
                                                {{/if}}
                                                <td>
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        {{#if (eq ../tipoCadastro "Motorista")}}
                                                        <a href="/motoristaEditar/{{codigo}}"
                                                            class="btn btn-icon btn-round btn-warning">
                                                            <i class="fa fa-edit text-white"></i>
                                                        </a>
                                                        {{else if (eq ../tipoCadastro "Caminhão")}}
                                                        <a href="/caminhaoEditar/{{codigo}}"
                                                            class="btn btn-icon btn-round btn-warning">
                                                            <i class="fa fa-edit text-white"></i>
                                                        </a>
                                                        {{else if (eq ../tipoCadastro "Pessoa")}}
                                                        <a href="/pessoaEditar/{{codigo}}"
                                                            class="btn btn-icon btn-round btn-warning">
                                                            <i class="fa fa-edit text-white"></i>
                                                        </a>
                                                        {{else if (eq ../tipoCadastro "Fornecedor ou Pessoa Jurídica")}}
                                                        <a href="/juridicaEditar/{{codigo}}"
                                                            class="btn btn-icon btn-round btn-warning">
                                                            <i class="fa fa-edit text-white"></i>
                                                        </a>
                                                        {{else if (eq ../tipoCadastro "Planta de Reciclagem")}}
                                                        <a href="/plantaEditar/{{codigo}}"
                                                            class="btn btn-icon btn-round btn-warning">
                                                            <i class="fa fa-edit text-white"></i>
                                                        </a>
                                                        {{else if (eq ../tipoCadastro "Usuário")}}
                                                        <a href="/usuarioEditar/{{codigo}}"
                                                            class="btn btn-icon btn-round btn-warning">
                                                            <i class="fa fa-edit text-white"></i>
                                                        </a>
                                                        {{/if}}
                                                    </div>
                                                </td>
                                            </tr>
                                            {{/each}}
                                            {{else}}
                                            <tr>
                                                <td colspan="15" class="text-center text-muted">
                                                    Nenhum cadastro encontrado
                                                </td>
                                            </tr>
                                            {{/if}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Scripts -->
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const tipoCadastro = document.getElementById('defaultSelect');
                        const situacaoField = document.getElementById('situacaoField');
                        const cpfField = document.getElementById('cpfField');
                        const cnpjField = document.getElementById('cnpjField');
                        const limparBtn = document.getElementById('limparBtn');
                        const form = document.getElementById('filtroForm');

                        function updateFields() {
                            const selected = tipoCadastro.value;

                            // Esconde todos os campos inicialmente
                            situacaoField.style.display = 'none';
                            cpfField.style.display = 'none';
                            cnpjField.style.display = 'none';

                            // Se for Motorista, Caminhão, Planta ou Usuário, mostra só Situação
                            if (
                                selected === 'Motorista' ||
                                selected === 'Caminhão' ||
                                selected === 'Planta de Reciclagem' ||
                                selected === 'Usuário'
                            ) {
                                situacaoField.style.display = 'block';
                            }
                            // Se for Pessoa, mostra CPF
                            else if (selected === 'Pessoa') {
                                cpfField.style.display = 'block';
                            }
                            // Se for Jurídica, mostra CNPJ
                            else if (selected === 'Fornecedor ou Pessoa Jurídica') {
                                cnpjField.style.display = 'block';
                            }
                        }

                        tipoCadastro.addEventListener('change', updateFields);

                        limparBtn.addEventListener('click', function () {
                            form.reset();
                            updateFields();
                        });

                        updateFields();

                        // --- FORMATAÇÃO DE CPF, CNPJ E TELEFONE NA TABELA ---
                        function formatCPF(cpf) {
                            if (!cpf) return '';
                            cpf = cpf.replace(/\D/g, '');
                            if (cpf.length !== 11) return cpf;
                            return cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, "$1.$2.$3-$4");
                        }
                        function formatCNPJ(cnpj) {
                            if (!cnpj) return '';
                            cnpj = cnpj.replace(/\D/g, '');
                            if (cnpj.length !== 14) return cnpj;
                            return cnpj.replace(/(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})/, "$1.$2.$3/$4-$5");
                        }
                        function formatTelefone(telefone) {
                            if (!telefone) return '';
                            telefone = telefone.replace(/\D/g, '');
                            if (telefone.length === 10) {
                                // Formato: (12) 1234-5678
                                return telefone.replace(/(\d{2})(\d{4})(\d{4})/, "($1) $2-$3");
                            } else if (telefone.length === 11) {
                                // Formato: (12) 12345-6789
                                return telefone.replace(/(\d{2})(\d{5})(\d{4})/, "($1) $2-$3");
                            }
                            return telefone;
                        }

                        // Só aplica formatação para Pessoa e Jurídica
                        const tipo = "{{tipoCadastro}}";
                        document.querySelectorAll('tbody tr').forEach(function (tr) {
                            if (tipo === 'Pessoa' || tipo === 'Fornecedor ou Pessoa Jurídica' || tipo === 'Usuário') {
                                // Para CPF/CNPJ
                                const cpfCnpjTd = tr.querySelector('td:nth-child(4)');
                                if (cpfCnpjTd) {
                                    let valor = cpfCnpjTd.innerText.trim();
                                    if (/^\d{11}$/.test(valor)) {
                                        cpfCnpjTd.innerText = formatCPF(valor);
                                    } else if (/^\d{14}$/.test(valor)) {
                                        cpfCnpjTd.innerText = formatCNPJ(valor);
                                    }
                                }
                                // Para Telefone
                                const telefoneTd = tr.querySelector('td:nth-child(5)');
                                if (telefoneTd) {
                                    let valor = telefoneTd.innerText.trim();
                                    telefoneTd.innerText = formatTelefone(valor);
                                }
                            }
                        });
                    });
                </script>
                <!-- End Script  -->
                <footer class="footer">
                    <div class="container-fluid d-flex justify-content-between">
                        <nav class="pull-left">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">footer#1</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">footer#2</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="copyright">
                            2025 - Autores: Equipe 7
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <!--end conteudo indiviual da pagina-->
    </body>
</main>