<main>

    <body>
        <div class="wrapper">
            <!-- Sidebar -->
            <div class="sidebar" data-background-color="dark">
                <div class="sidebar-logo">
                    <!-- Logo Header -->
                    <div class="logo-header" data-background-color="dark">
                        <a href="/home" class="logo">
                            <img src="/assets/Eco.png" alt="navbar brand" class="navbar-brand" height="30" />
                        </a>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="gg-menu-right"></i>
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="gg-menu-left"></i>
                            </button>
                        </div>
                        <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt"></i>
                        </button>
                    </div>
                    <!-- End Logo Header -->
                </div>
                <div class="sidebar-wrapper scrollbar scrollbar-inner">
                    <div class="sidebar-content">
                        <ul class="nav nav-secondary">
                            <li class="nav-item">
                                <a href="/home" class="collapsed" aria-expanded="false">
                                    <i class="fas fa-home"></i>
                                    <p>Home</p>
                                </a>
                            </li>
                            <li class="nav-section">
                                <span class="sidebar-mini-icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                                <h4 class="text-section">Funções Do Sistema</h4>
                            </li>
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#cadastro">
                                    <i class="fas fa-user"></i>
                                    <p>Cadastros</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="cadastro">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/cadastros">
                                                <span class="sub-item">Buscar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/pessoa">
                                                <span class="sub-item">Nova Pessoa</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/usuario">
                                                <span class="sub-item">Novo Usuario</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/planta">
                                                <span class="sub-item">Nova Planta</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item active">
                                <a data-bs-toggle="collapse" href="#estoque">
                                    <i class="fas fa-th-list"></i>
                                    <p>Estoque</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="estoque">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/estoqueBuscar">
                                                <span class="sub-item">Buscar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/estoqueNovo">
                                                <span class="sub-item">Novo Estoque</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/material">
                                                <span class="sub-item">Novo Material</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/estoqueSaida">
                                                <span class="sub-item">Movimentações</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/novoMaterial">
                                                <span class="sub-item">Pesagem da coleta</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#coleta">
                                    <i class="fa fa-map-marker-alt"></i>
                                    <p>Gestão de Coleta</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="coleta">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/agendamento">
                                                <span class="sub-item">Agendamento</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/rotas">
                                                <span class="sub-item">Rotas Programadas</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/attStatus">
                                                <span class="sub-item">Atualizar Status da Coleta</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="/relatorios">
                                    <i class="fas fa-table"></i>
                                    <p>Relatórios</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/processamento">
                                    <i class="fas fa-thumbtack"></i>
                                    <p>Processamento</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Sidebar -->
            <!--Start MenuBar-->
            <div class="main-panel">
                <div class="main-header">
                    <div class="main-header-logo">
                        <!-- Logo Header -->
                        <div class="logo-header" data-background-color="dark">
                            <a href="#" class="logo">
                                <img src="public/assets/Eco.png" alt="navbar brand" class="navbar-brand" height="20" />
                            </a>
                            <div class="nav-toggle">
                                <button class="btn btn-toggle toggle-sidebar">
                                    <i class="gg-menu-right"></i>
                                </button>
                                <button class="btn btn-toggle sidenav-toggler">
                                    <i class="gg-menu-left"></i>
                                </button>
                            </div>
                            <button class="topbar-toggler more">
                                <i class="gg-more-vertical-alt"></i>
                            </button>
                        </div>
                        <!-- End Logo Header -->
                    </div>
                    <!-- Navbar Header -->
                    <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                        <div class="container-fluid">
                            <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                                <li class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                        aria-expanded="false" aria-haspopup="true">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-search animated fadeIn">
                                        <form class="navbar-left navbar-form nav-search">
                                            <div class="input-group">
                                                <input type="text" placeholder="Search ..." class="form-control" />
                                            </div>
                                        </form>
                                    </ul>
                                </li>
                                <li class="nav-item topbar-user dropdown hidden-caret">
                                    <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#"
                                        aria-expanded="false">
                                        <span class="profile-username">
                                            <i class="fas fa-user-circle fa-2x"></i>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user animated fadeIn">
                                        <div class="dropdown-user-scroll scrollbar-outer">
                                            <li>
                                                <div class="user-box">
                                                    <div class="u-text">
                                                        <h4>Henrique</h4>
                                                        <p class="text-muted">henrique@gmail.com</p>
                                                        <a href="#" class="btn btn-xs btn-secondary btn-sm">
                                                            Ver
                                                            Perfil
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Minha conta</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Configurações</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="/login">Sair</a>
                                            </li>
                                        </div>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- End Navbar -->
                </div>
                <!--End MenuBar-->
                <!--Start conteúdo individual da página-->
                <div class="container">
                    <div class="page-inner">
                        <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-center mb-3">
                            <div class="mb-3 d-flex flex-column">
                                <span class="fs-2 fw-bold">Cadastro de Material</span>
                                <small class="text-muted">Preencha os dados de cadastro e clique em salvar.</small>
                            </div>
                        </div>
                        <!-- Formulário -->
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card shadow-lg">
                                    <div class="card-body">
                                        <form method="POST" id="form-material">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="fw-bold">Descrição do Material</label>
                                                        <input type="text" class="form-control" name="descricao"
                                                            placeholder="Informe a descrição">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="fw-bold">Valor por Kg</label>
                                                        <input type="number" step="0.01" class="form-control"
                                                            name="valor_kg" placeholder="R$">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="fw-bold">Peso Padrão (Kg)</label>
                                                        <input type="number" step="0.001" class="form-control"
                                                            name="peso_padrao" placeholder="Informe um peso">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="fw-bold">Volume cúbico (m³) por Kg</label>
                                                        <input type="number" step="0.00001" class="form-control"
                                                            name="volume_m3" placeholder="Informe um volume">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group mb-3">
                                                        <label class="fw-bold mb-2">Linha do Material</label>
                                                        <input type="hidden" name="linha" id="linhaSelecionada"
                                                            value="">
                                                        <div class="nav nav-pills nav-pills-no-bd nav-pills-icons d-flex flex-row gap-2"
                                                            id="v-pills-tab-with-icon" role="tablist"
                                                            aria-orientation="horizontal">
                                                            <a class="nav-link flex-fill text-center text-primary bg-light"
                                                                href="#" role="tab" data-linha="1">
                                                                <i class="fas fa-trash text-primary"></i> Linha Azul
                                                            </a>
                                                            <a class="nav-link flex-fill text-center text-success bg-light"
                                                                href="#" role="tab" data-linha="2">
                                                                <i class="fas fa-trash text-success"></i> Linha Verde
                                                            </a>
                                                            <a class="nav-link flex-fill text-center text-warning bg-light"
                                                                href="#" role="tab" data-linha="3">
                                                                <i class="fas fa-trash text-warning"></i> Linha Laranja
                                                            </a>
                                                            <a class="nav-link flex-fill text-center text-danger bg-light"
                                                                href="#" role="tab" data-linha="4">
                                                                <i class="fas fa-trash text-danger"></i> Linha Vermelha
                                                            </a>
                                                            <a class="nav-link flex-fill text-center text-dark bg-light"
                                                                href="#" role="tab" data-linha="5">
                                                                <i class="fas fa-trash text-black"></i> Matéria Prima
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-end">
                                                    <a href="/home" class="btn btn-secondary me-3">
                                                        Voltar
                                                    </a>
                                                    <button type="submit" class="btn btn-success">Salvar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Abas laterais -->
                            <div class="col-md-4">
                                <div class="card shadow-lg">
                                    <div class="card-body">
                                        <div id="materiaisPorLinha">
                                            <div id="mensagemSelecioneLinha"
                                                class="text-center text-muted fs-4 fw-bold">
                                                Selecione uma linha de material
                                            </div>
                                            {{#each linhas}}
                                            {{#if (eq nm_linha "Linha Azul")}}
                                            <div class="materiais-linha d-none bg-primary text-white rounded p-2 mb-3 shadow-sm"
                                                data-linha="{{cd_linha}}">
                                                {{else}}
                                                {{#if (eq nm_linha "Linha Verde")}}
                                                <div class="materiais-linha d-none bg-success text-white rounded p-2 mb-3 shadow-sm"
                                                    data-linha="{{cd_linha}}">
                                                    {{else}}
                                                    {{#if (eq nm_linha "Linha Laranja")}}
                                                    <div class="materiais-linha d-none bg-warning text-white rounded p-2 mb-3 shadow-sm"
                                                        data-linha="{{cd_linha}}">
                                                        {{else}}
                                                        {{#if (eq nm_linha "Linha Vermelha")}}
                                                        <div class="materiais-linha d-none bg-danger text-white rounded p-2 mb-3 shadow-sm"
                                                            data-linha="{{cd_linha}}">
                                                            {{else}}
                                                            {{#if (eq nm_linha "Matéria Prima")}}
                                                            <div class="materiais-linha d-none bg-light rounded p-2 mb-3 shadow-sm"
                                                                data-linha="{{cd_linha}}">
                                                                {{else}}
                                                                <div class="materiais-linha d-none bg-light text-black rounded p-2 mb-3 shadow-sm"
                                                                    data-linha="{{cd_linha}}">
                                                                    {{/if}}
                                                                    {{/if}}
                                                                    {{/if}}
                                                                    {{/if}}
                                                                    {{/if}}
                                                                    <h5 class="fw-bold fs-3 mb-3">{{nm_linha}}</h5>
                                                                    {{#if materiais.length}}
                                                                    <div>
                                                                        {{#each materiais}}
                                                                        <div class="py-1 fs-4">{{this}}</div>
                                                                        {{/each}}
                                                                    </div>
                                                                    {{else}}
                                                                    <div class="text-muted">Nenhum material cadastrado
                                                                        nesta linha.</div>
                                                                    {{/if}}
                                                                </div>
                                                                {{/each}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End laterais -->
                        </div>
                        <!-- End Formulário -->
                    </div>
                </div>
                <!-- Script para atualizar o valor da linha -->
                <script>
                    // Atualiza seleção visual e mostra materiais da linha escolhida
                    function mostrarMateriaisPorLinha(linha) {
                        // Esconde todos os blocos de materiais
                        document.querySelectorAll('.materiais-linha').forEach(div => div.classList.add('d-none'));
                        // Esconde mensagem
                        document.getElementById('mensagemSelecioneLinha').style.display = 'none';

                        // Mostra só a linha selecionada
                        if (linha) {
                            const div = document.querySelector('.materiais-linha[data-linha="' + linha + '"]');
                            if (div) div.classList.remove('d-none');
                        } else {
                            document.getElementById('mensagemSelecioneLinha').style.display = 'block';
                        }
                    }

                    // Inicializa com mensagem
                    mostrarMateriaisPorLinha();

                    // Seleção visual e exibição dos materiais
                    document.querySelectorAll('.nav-pills [data-linha]').forEach(link => {
                        link.addEventListener('click', function (e) {
                            e.preventDefault();
                            document.getElementById('linhaSelecionada').value = this.getAttribute('data-linha');
                            // Remove active e borda preta de todos, garante bg-light
                            this.parentElement.querySelectorAll('.nav-link').forEach(a => {
                                a.classList.remove('active', 'border', 'border-dark');
                                a.classList.add('bg-light');
                            });
                            // Adiciona active e borda preta ao selecionado, mantém bg-light
                            this.classList.add('active', 'border', 'border-dark', 'bg-light');
                            // Mostra materiais da linha selecionada
                            mostrarMateriaisPorLinha(this.getAttribute('data-linha'));
                        });
                    });

                    // Envio do formulário via AJAX/fetch para exibir swal sem recarregar a tela
                    document.getElementById('form-material').addEventListener('submit', function (e) {
                        e.preventDefault();
                        const form = this;
                        const data = new FormData(form);

                        fetch('/material', {
                            method: 'POST',
                            headers: {
                                'Accept': 'application/json'
                            },
                            body: new URLSearchParams(data)
                        })
                            .then(async res => {
                                const json = await res.json();
                                if (!res.ok) {
                                    swal("Erro ao registrar!", json.erro || "Erro desconhecido!", {
                                        icon: "error",
                                        buttons: {
                                            confirm: {
                                                text: "OK",
                                                className: "btn btn-danger",
                                            },
                                        },
                                    });
                                } else {
                                    swal("Sucesso!", json.mensagem || "Material cadastrado com sucesso!", {
                                        icon: "success",
                                        buttons: {
                                            confirm: {
                                                text: "OK",
                                                className: "btn btn-success",
                                            },
                                        },
                                    }).then(() => {
                                        location.reload();
                                    });
                                }
                            })
                            .catch(() => {
                                swal("Erro ao registrar!", "Erro inesperado!", {
                                    icon: "error",
                                    buttons: {
                                        confirm: {
                                            text: "OK",
                                            className: "btn btn-danger",
                                        },
                                    },
                                });
                            });
                    });
                </script>
                <!-- End Script -->
                <!-- End conteúdo individual da página-->
                <footer class="footer">
                    <div class="container-fluid d-flex justify-content-between">
                        <nav class="pull-left">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">footer#1</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">footer#2</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="copyright">
                            2025 - Autores: Equipe 7
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        {{{script}}}
    </body>
</main>