<main>
    <div class="wrapper">
        <!-- Sidebar -->
        <div class="sidebar" data-background-color="dark">
            <div class="sidebar-logo">
                <!-- Logo Header -->
                <div class="logo-header" data-background-color="dark">
                    <a href="/home" class="logo">
                        <img src="/assets/Eco.png" alt="navbar brand" class="navbar-brand" height="30" />
                    </a>
                    <div class="nav-toggle">
                        <button class="btn btn-toggle toggle-sidebar">
                            <i class="gg-menu-right"></i>
                        </button>
                        <button class="btn btn-toggle sidenav-toggler">
                            <i class="gg-menu-left"></i>
                        </button>
                    </div>
                    <button class="topbar-toggler more">
                        <i class="gg-more-vertical-alt"></i>
                    </button>
                </div>
                <!-- End Logo Header -->
            </div>
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <ul class="nav nav-secondary">
                        <li class="nav-item">
                            <a href="/home" class="collapsed" aria-expanded="false">
                                <i class="fas fa-home"></i>
                                <p>Home</p>
                            </a>
                        </li>
                        <li class="nav-section">
                            <span class="sidebar-mini-icon">
                                <i class="fa fa-ellipsis-h"></i>
                            </span>
                            <h4 class="text-section">Funções Do Sistema</h4>
                        </li>
                        <li class="nav-item active">
                            <a data-bs-toggle="collapse" href="#cadastro">
                                <i class="fas fa-user"></i>
                                <p>Cadastros</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="cadastro">
                                <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/cadastrosBuscar">
                                                <span class="sub-item">Buscar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/pessoa">
                                                <span class="sub-item">Nova Pessoa</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/usuario">
                                                <span class="sub-item">Novo Usuario</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/planta">
                                                <span class="sub-item">Nova Planta</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/motorista">
                                                <span class="sub-item">Novo Motorista</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/caminhao">
                                                <span class="sub-item">Novo Caminhão</span>
                                            </a>
                                        </li>
                                    </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a data-bs-toggle="collapse" href="#estoque">
                                <i class="fas fa-th-list"></i>
                                <p>Estoque</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="estoque">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a href="/cadastrosBuscar2">
                                            <span class="sub-item">Buscar</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/estoque">
                                            <span class="sub-item">Novo Estoque</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/material">
                                            <span class="sub-item">Novo Material</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/movimentacoes">
                                            <span class="sub-item">Movimentações</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/pesagem">
                                            <span class="sub-item">Pesagem da coleta</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a data-bs-toggle="collapse" href="#coleta">
                                <i class="fa fa-map-marker-alt"></i>
                                <p>Gestão de Coleta</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="coleta">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a href="/agendamento">
                                            <span class="sub-item">Agendamento</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/rotas">
                                            <span class="sub-item">Rotas Programadas</span>
                                        </a>
                                    </li>
                                  
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="/relatorios">
                                <i class="fas fa-table"></i>
                                <p>Relatórios</p>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->
        <!--Start MenuBar-->
        <div class="main-panel">
            <div class="main-header">
                <div class="main-header-logo">
                    <!-- Logo Header -->
                    <div class="logo-header" data-background-color="dark">
                        <a href="#" class="logo">
                            <img src="public/assets/Eco.png" alt="navbar brand" class="navbar-brand" height="20" />
                        </a>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="gg-menu-right"></i>
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="gg-menu-left"></i>
                            </button>
                        </div>
                        <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt"></i>
                        </button>
                    </div>
                    <!-- End Logo Header -->
                </div>
                <!-- Navbar Header -->
                <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                    <div class="container-fluid">
                        <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                            <li class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                    aria-expanded="false" aria-haspopup="true">
                                    <i class="fa fa-search"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-search animated fadeIn">
                                    <form class="navbar-left navbar-form nav-search">
                                        <div class="input-group">
                                            <input type="text" placeholder="Search ..." class="form-control" />
                                        </div>
                                    </form>
                                </ul>
                            </li>
                            <li class="nav-item topbar-user dropdown hidden-caret">
                                <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#"
                                    aria-expanded="false">
                                    <span class="profile-username">
                                        <i class="fas fa-user-circle fa-2x"></i>
                                    </span>
                                </a>
                                <ul class="dropdown-menu dropdown-user animated fadeIn">
                                        <div class="dropdown-user-scroll scrollbar-outer">
                                            <li>
                                                <div class="user-box">
                                                    <div class="u-text">
                                                        <h4 class="fw-bold">{{usuario.nm_usuario}}</h4>
                                                        <p class="text-muted">{{usuario.ds_email}}</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="/logout"><i
                                                        class="fas fa-sign-out-alt pe-2"></i>
                                                    Sair</a>
                                            </li>
                                        </div>
                                    </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- End Navbar -->
            </div>
            <!--End MenuBar-->
            <!-- Start conteudo indiviudual da pagina -->
            <div class="container">
                <div class="page-inner">
                    <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-center mb-3">
                        <div class="mb-3 d-flex flex-column">
                            <span class="fs-2 fw-bold">
                                Editar Planta de Reciclagem
                            </span>
                            <small class="text-muted">
                                Preencha os dados de cadastro e clique em salvar.
                            </small>
                        </div>
                    </div>
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <form id="formEditarPlanta">
                                <input type="hidden" name="codigo" value="{{planta.cd_planta}}">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="fw-bold">Nome da Planta</label>
                                            <input type="text" class="form-control" name="nm_planta" id="nm_planta"
                                                value="{{planta.nm_planta}}" placeholder="Insira o nome">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="form-group">
                                            <label class="fw-bold">Capacidade Máxima de Volume</label>
                                            <input type="number" class="form-control" name="qt_capacidade_total_volume"
                                                id="qt_capacidade_total_volume"
                                                value="{{planta.qt_capacidade_total_volume}}"
                                                placeholder="Insira a capacidade máxima">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="fw-bold">CEP</label>
                                            <input type="text" class="form-control" name="nr_cep" id="nr_cep"
                                                value="{{planta.nr_cep}}" placeholder="Preencha o CEP" maxlength="9">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="fw-bold">Número do Endereço</label>
                                            <input type="text" class="form-control" name="nr_endereco" id="nr_endereco"
                                                value="{{planta.nr_endereco}}"
                                                placeholder="Preencha o número do endereço" maxlength="10">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="fw-bold">Rua do Endereço</label>
                                            <input type="text" class="form-control" name="ds_endereco" id="ds_endereco"
                                                value="{{planta.ds_endereco}}"
                                                placeholder="Preencha o CEP para buscar Rua" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="fw-bold">Bairro</label>
                                            <input type="text" class="form-control" name="nm_bairro" id="nm_bairro"
                                                value="{{planta.nm_bairro}}"
                                                placeholder="Preencha o CEP para buscar Bairro" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="fw-bold">Cidade</label>
                                            <input type="text" class="form-control" name="nm_cidade" id="nm_cidade"
                                                value="{{planta.nm_cidade}}"
                                                placeholder="Preencha o CEP para buscar Cidade" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="fw-bold">Estado (UF)</label>
                                            <input type="text" class="form-control" name="uf_estado" id="uf_estado"
                                                value="{{planta.uf_estado}}"
                                                placeholder="Preencha o CEP para buscar Estado" readonly maxlength="2">
                                        </div>
                                    </div>
                                    <div class="col-md-12 d-flex align-items-end">
                                        <div class="form-group w-100">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div>
                                                    <label class="fw-bold mb-0">Situação</label>
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input" id="ie_situacao"
                                                            value="A" {{#if (eq planta.ie_situacao "A"
                                                            )}}checked{{/if}}>
                                                        <label class="form-check-label" for="ie_situacao">Ativa</label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <a href="/cadastrosBuscar" class="btn btn-secondary me-3">Voltar</a>
                                                    <button type="submit" class="btn btn-success">Salvar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End conteudo indiviudual da pagina -->
            <!-- Scripts -->
            <script>
                const cepInput = document.getElementById('nr_cep');

                // Aplica a máscara do CEP ao carregar a tela, se necessário
                window.addEventListener('DOMContentLoaded', function () {
                    if (cepInput && cepInput.value.length === 8 && cepInput.value.indexOf('-') === -1) {
                        cepInput.value = cepInput.value.slice(0, 5) + '-' + cepInput.value.slice(5);
                    }
                });

                // Máscara visual do CEP e busca automática do endereço
                cepInput.addEventListener('input', function () {
                    let cep = this.value.replace(/\D/g, '');
                    if (cep.length > 5) {
                        cep = cep.slice(0, 5) + '-' + cep.slice(5, 8);
                    }
                    this.value = cep;

                    const rawCep = cep.replace(/\D/g, '');

                    // Limpa os campos se o CEP não tiver 8 dígitos
                    if (rawCep.length !== 8) {
                        document.getElementById('uf_estado').value = '';
                        document.getElementById('nm_cidade').value = '';
                        document.getElementById('nm_bairro').value = '';
                        document.querySelector('[name="ds_endereco"]').value = '';
                        return;
                    }

                    // Busca o endereço via API ViaCEP
                    fetch(`https://viacep.com.br/ws/${rawCep}/json/`)
                        .then(response => response.json())
                        .then(data => {
                            if (data.erro) {
                                document.getElementById('uf_estado').value = '';
                                document.getElementById('nm_cidade').value = '';
                                document.getElementById('nm_bairro').value = '';
                                document.querySelector('[name="ds_endereco"]').value = '';
                                return;
                            }
                            document.getElementById('uf_estado').value = data.uf || '';
                            document.getElementById('nm_cidade').value = data.localidade || '';
                            document.getElementById('nm_bairro').value = data.bairro || '';
                            document.querySelector('[name="ds_endereco"]').value = data.logradouro || '';
                        })
                        .catch(error => {
                            console.error('Erro na consulta do CEP:', error);
                            alert('Erro ao buscar informações do CEP.');
                        });
                });

                // Envio AJAX para editar planta, tratando o campo situação
                document.getElementById('formEditarPlanta').addEventListener('submit', function (e) {
                    e.preventDefault();

                    const form = e.target;

                    // Remove a máscara do CEP antes de enviar
                    const cepInput = form.querySelector('[name="nr_cep"]');
                    if (cepInput) {
                        cepInput.value = cepInput.value.replace(/\D/g, '');
                    }

                    // Ajuste do campo situação: envia "A" se marcado, "I" se desmarcado
                    const situacaoInput = form.querySelector('#ie_situacao');
                    // Remove qualquer input hidden anterior criado automaticamente
                    const hiddenOld = form.querySelector('input[name="ie_situacao"]');
                    if (hiddenOld) hiddenOld.remove();

                    let hidden = document.createElement('input');
                    hidden.type = 'hidden';
                    hidden.name = 'ie_situacao';
                    hidden.value = situacaoInput && situacaoInput.checked ? 'A' : 'I';
                    form.appendChild(hidden);

                    // Desabilita o checkbox para não duplicar o envio
                    if (situacaoInput) situacaoInput.disabled = true;

                    const dados = new URLSearchParams(new FormData(form));

                    // Reabilita o checkbox após capturar os dados
                    if (situacaoInput) situacaoInput.disabled = false;

                    fetch('/plantaEditar', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        body: dados
                    })
                        .then(res => res.json())
                        .then(resp => {
                            if (resp.sucesso) {
                                if (resp.script) {
                                    const match = resp.script.match(/<script>([\s\S]*)<\/script>/i);
                                    if (match && match[1]) {
                                        eval(match[1]);
                                    }
                                } else {
                                    alert('Alteração realizada com sucesso!');
                                }
                                // Aplica a máscara no campo CEP após o sucesso
                                if (cepInput && cepInput.value.length === 8 && cepInput.value.indexOf('-') === -1) {
                                    cepInput.value = cepInput.value.slice(0, 5) + '-' + cepInput.value.slice(5);
                                }
                            } else if (resp.erro) {
                                if (resp.script) {
                                    const match = resp.script.match(/<script>([\s\S]*)<\/script>/i);
                                    if (match && match[1]) {
                                        eval(match[1]);
                                    }
                                } else {
                                    alert(resp.erro || 'Erro ao editar planta!');
                                }
                            } else {
                                alert('Erro inesperado ao editar planta!');
                            }
                        })
                        .catch(() => {
                            alert('Erro inesperado ao editar planta!');
                        });
                });
            </script>
            <!-- End Scripts -->

            <footer class="footer">
                <div class="container-fluid d-flex justify-content-between">
                    <nav class="pull-left">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">footer#1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">footer#2</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright">
                        2025 - Autores: Equipe 7
                    </div>
                </div>
            </footer>
        </div>
    </div>
</main>